/* Template.css
This is a template for special projects at The Post.
Template originally coded by Seth Archer, digital managing editor at The Post.
Please contact at SethPArcher@gmail.com with questions.*/

/* LANDING PAGE */
@font-face {
  font-family: "varsity";
  src: url(fonts/varsity_regular.ttf);
}
/* animation container */

.button {
  background-color: #ec5915;
  border-radius: 100%;
  color: #fff;
  padding: 28px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 5%;
  margin-bottom: 20px;

}

.button:hover {
  background-color: #c43d19; /* Green */
  color: #fff;
}

/* GRID */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto  auto;
  text-align: center;
  grid-gap: 20px;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  margin-top: 40px;

}

.grid-item {
  width: 160px;
  height: 160px;
  background-color: #fdcb62;
  margin: 0 auto;
  margin-bottom: 4vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.grid-item img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}
.the-title {
  font-size: 18px;
  text-transform: lowercase;
  position: absolute;
  font-family: "varsity";
  font-weight: normal;
  color: #fff;
  top: 3vw;
  }

/* HOVER */

/*----- Global Styles -----*/

body {
    font-family: montserrat, sans-serif;
    background-color: #FFF;
    color: #030406;
}

a {
    color: #fdcb62;
    text-decoration: none;
}

a:hover {
    opacity: .6;
}

p {
    width: 60%;
    padding: 0 20%;
}/*these have a style simmilar to column20center, do not add column20center to p tags*/

h2 {
    padding: 0 15%;
}

h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.date{
    font-weight: 800;
    color: #ec5915;
    width: 60%;
    padding: 0% 20% 0 20%;
    margin: 0;
}/*apply to p tag*/

/*-----Column stuff-----*/

.column20center {
    width: 60%;
    padding: 0 20%;
}/*do not apply to p tags, they automatically have a simmilar styling*/

.column10center {
    width: 80%;
    padding: 0 10%;
}

.column10left {
    width: 40%;
    padding-left: 10%;
}

.column10right {
    width: 40%;
    padding-right: 10%;
}

/*----- Nav Bar -----*/
/*we don't use this section as often. delete if not used in the project*/

#nav_bar {
    background: #030406;
    color: #FFF;
    height: 50px;
}

#nav_bar img {
    height: 30px;
    padding: 10px;
    float: left;
}

#nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    float: right;
}

#nav_bar ul {
    margin: 0;
}

/*----- Hero Image -----*/

#ballWrapper {
  position: absolute;
  top: 14vw;
  left: 46vw;
}

#ball {
  width: 8vw;
  height:8vw;
  position: relative;
  overflow: hidden;
}

/*Ball texture*/

#ball:after {
  content: "";
  width: 8vw;
  height: 8vw;
  border-radius: 100%;
  background: url("http://svgur.com/i/4D.svg");
  position: absolute;
  animation: rotate 2s infinite, back 1s infinite;
  z-index: 5;
  background-size: cover;
  animation-timing-function: linear;
}

/* Animation keyframes */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes back {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}

.lt-blue{
  height: 18vw;
  width: 4.5vw;
  background-color:#7b9eaf;
  position: absolute;
  left: 46vw;
}

.dk-blue{
  height: 18vw;
  width: 3.95vw;
  background-color:#2c4654;
  position: absolute;
  left: 50vw;
}

#sparkle-1-hor {
  border-radius: 50px;
  background: #fff;
  width: 2vw;
  height: .5vw;
  top: 20vw;
  left: 40vw;
  position: absolute;
}
#sparkle-1-ver {
  border-radius: 50px;
  background: #fff;
  width: 2vw;
  height: .5vw;
  top: 20vw;
  left: 40vw;
  position: absolute;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg); /* Standard syntax */
}

#sparkle-2-hor {
  border-radius: 25px;
  background: #fff;
  width: 1.9vw;
  height: .4vw;
  top: 17.7vw;
  left: 56.5vw;
  position: absolute;
}
#sparkle-2-ver {
  border-radius: 25px;
  background: #fff;
  width: 1.9vw;
  height: .4vw;
  top: 17.7vw;
  left: 56.5vw;
  position: absolute;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg); /* Standard syntax */
}

#sparkle-3-hor {
  border-radius: 25px;
  background: #fff;
  width: 1.4vw;
  height: .3vw;
  top: 20vw;
  left: 58.5vw;
  position: absolute;
}
#sparkle-3-ver {
  border-radius: 25px;
  background: #fff;
  width: 1.4vw;
  height: .3vw;
  top: 20vw;
  left: 58.5vw;
  position: absolute;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg); /* Standard syntax */
}


#basket{
  width: 14vw;
  margin-left: 42.87vw;
  margin-top: 26vw;
}

#heroimg {
    width: 100%;
    position: relative ;
    height: 55vw;
    background-color: #fac86b;
}/*apply to wrapping div with an img tag within*/

#heroimg img {
    width: 100%;
}

#arthed {
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    font-size: 7vw;
    font-weight: normal;
    text-align: center;
    width: 100%;
    font-family: "varsity";
    text-transform: uppercase;

}/*apply to h1 within the heroimg div*/

/*----- Body Copy Things -----*/

.headline {
    color: #2b4654;
    padding: 0 10% 0 10%;
    width: 80%;
    margin: 0;
    font-size: 40px;
    font-weight: 900i;
    font-family: "varsity";

}/*apply to h1, not the art hed*/

.credit {
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 50px;
}/*apply to h4 with developer's name and title*/

.subhed {
    font-family: "varsity"
    , sans-serif;
    font-weight: 800;
    color: #799eb0;
}/*apply to h2 tags*/

.dropcap {
    font-weight: 700;
    float: left;
    font-size: 2.9em;
    line-height: .9em;
    padding-right: 5px;
}/*apply to wrapping span tag*/

.title {
    color: #606060;
}/*should be in same p tag as the author name*/

#byline {
    margin: 0;
    font-weight: 400;
}/*applies to entire byline, with title. bold the author name. put on h4 tag*/

/*----- Img Things -----*/

.oneimg_center {
    width: 60%;
    padding: 0 20%;
}/*Apply to a wrapping div*/

.oneimg_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 10px;
    float: right;
}/*Apply to a wrapping div*/

.oneimg_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 20px;
    float: left;
}/*Apply to a wrapping div*/

.twoimg_center {
    width: 60%;
    margin: 0 20%;
}

.twoimg_center img {
    width: 50%;
    padding: 0;
    margin: 0;
    float: left;
}

.threeimg_full {
    width: 33%;
}

.oneimg_full img, .oneimg_center img, .oneimg_right img, .oneimg_left img {
    width: 100%
}

/*----- Pullquote stuff -----*/

blockquote {
    padding: 0;
    margin: 5px;
}/*should be the text of the pull quote*/

.pq_center {
    width: 60%;
    padding: 0 20%;
    margin: 0;
    font-family: "varsity";
    font-size: 25px;
    text-transform: uppercase;
    color: #2b4654;
    font-weight: normal;
}/*add to wrapping div*/

.pq_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 15px;
    float: right;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #2b4654;
    font-family: "varsity";
    font-weight:normal;

}/*add to wrapping div*/

.pq_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 0;
    float: left;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: normal;
    color: #2b4654;
    font-family: "varsity";
}/*add to wrapping div*/

.attribution {
    font-size: 20px;
    text-transform: lowercase;
    display: block;
    text-align: right;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
    padding: 0 5%;
    width: 90%;
}/*add to p tag within the wrapping div*/

/*----- Image stuff -----
also use these tags to move iframes, graphics etc.. anything that would behave like a photo*/

.pcut{
    float: right;
    text-align: left;
    margin:0;
    font-weight: 100;
    color: #808080;
    font-size: 12px;
    width: 100%;
    padding: 0;
}/*add p tag, should be after the photog p tag*/

.galleryPcut{
    float: right;
    text-align: left;
    margin:0;
    font-weight: 100;
    color: #808080;
    font-size: 12px;
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
}

.photog{
    float: right;
    text-align: right;
    margin:0;
    font-weight: 800;
    color: #000;
    font-size: 12px;
    width: 100%;
    padding: 0;
}/*add to p tag, should be before the pcut p tag*/

.oneimg_full p{
    width:60%;
    padding:0 20%;
}


/*----- Gallery Stuff -----*/

.gallery_bot {
    padding: 0;
    width: 20%;
    float: left;
}

.w3-hover-shadow:hover {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important
}

.mySlides {
    display:none;
}

/*----- Other -----*/

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}/*effects the post logo in the top left of the page*/

.parallax {
    height: 800px;
    width: 100%;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}/* add to the wrapping div, give the div an inline style with the photo you want to be parallax*/

/* Landing page clicky box at bottom.*/

.story {
    color: #FFF;
    font-family: playfair display;
    width: 100%;
    height: 200px;
    text-shadow: 2px 2px 5px #000;
    background-color: #292929;
    display: table;
}

.story_inside{
    vertical-align: middle;
    display: table-cell;
}

.story h2{
    font-size: 40px;
    width: 70%;
    padding: 0 15%;
    margin: 0;
    line-height: 35px;
}

.story p{
    font-family: montserrat;
    margin: 0;
    width: 70%;
    padding: 10px 15% 0 15%;
}

@media screen and (max-width: 970px){
  .grid-container {
    grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: 800px){
  .grid-container {
    grid-template-columns: auto auto auto;
}

@media screen and (max-width: 600px){
  .grid-container {
    grid-template-columns:  auto auto;
}

@media screen and (max-width: 750px){

  #ballWrapper {
    position: absolute;
    top: 74vw;
    left: 46vw;
  }

  .lt-blue{
    height: 78vw;
    width: 4.5vw;
    background-color:#7b9eaf;
    position: absolute;
    left: 46vw;
  }

  .dk-blue{
    height: 78vw;
    width: 4vw;
    background-color:#2c4654;
    position: absolute;
    left: 50vw;
  }

  #basket{
    width: 14vw;
    padding-top: 60vw;
  }

  #sparkle-1-hor {
    top: 80vw;
    left: 40vw;
  }
  #sparkle-1-ver {
    top: 80vw;
    left: 40vw;
  }

  #sparkle-2-hor {
    top: 77.7vw;
    left: 56.5vw;
  }
  #sparkle-2-ver {
    top: 77.7vw;
    left: 56.5vw;
  }

  #sparkle-3-hor {
    top: 80vw;
    left: 58.5vw;
  }
  #sparkle-3-ver {
    top: 80vw;
    left: 58.5vw;
  }

  #heroimg {
      height: 120vw;
  }/*apply to wrapping div with an img tag within*/

    .oneimg_right, .oneimg_left, .oneimg_center {
        width: 80%;
        padding: 0 10% 10px 10%;
    }

    .oneimg_full p {
        width: 80%;
        padding: 0 10%;
    }

    .pq_center, .pq_right, .pq_left {
        padding: 0 5%;
        width: 90%;
    }

    .column20center, p {
        width: 80%;
        padding: 0 10%;
    }

    #arthed {
      font-weight: normal;
    }

    .subhed{
        padding: 0 10%;
    }

    .credit{
        padding-bottom: 20px;
    }

    #logo {
        height: 25px;
    }

    .headline {
        width: 80%;
        padding: 0% 10% 0 10%;
        font-size: 25px;
    }

    .date {
        padding: 0 10%;
        width: 80%;
    }

    #banner {
        font-size: 50px;
    }

    .story {
        height: 300px;
    }
}
