/* Template.css
This is a template for special projects at The Post.
Template originally coded by Seth Archer, digital managing editor at The Post.
Please contact at SethPArcher@gmail.com with questions.*/

/*----- Global Styles -----*/

body {
    font-family: montserrat, sans-serif;
    background-color: #000080;
    color: #030406;
}

a {
    color: #292929;
    text-decoration: none;
}

a:hover {
    opacity: .8;
}

p {
    width: 60%;
    padding: 0 20%;
}/*these have a style simmilar to column20center, do not add column20center to p tags*/

h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.date{
    font-weight: 800;
    color: #eed7fc;
    width: 60%;
    padding: 0% 20% 0 20%;
    margin: 0;
}/*apply to p tag*/

/*-----Column stuff-----*/

.column20center_real {
    width: 60%;
    padding: 0 20%;
}

.column20center {
    width: 100%;
    float: left;
}/*do not apply to p tags, they automatically have a simmilar styling*/

.column10center {
    width: 80%;
    padding: 0 10%;
}

.column10left {
    width: 40%;
    padding-left: 10%;
}

.column10right {
    width: 40%;
    padding-right: 10%;
}

/* NAVIGATION BAR */
#nav_bar {
    background: #292929;
    color: #FFF;
    height: 52px;
}

#nav_bar img {
    height: 30px;
    padding: 10px;
    float: left;
}

#nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    float: right;
}

#nav_bar ul {
    margin: 0;
}

#nav_bar li #facebook {
    color: #fff;
}

#nav_bar li #facebook:hover {
    color: #337ab7;
    opacity: 1;
}

#nav_bar li #twitter {
    color: #fff;
}

#nav_bar li #twitter:hover {
    color: #55ACEE;
    opacity: 1;
}

#nav_bar li #instagram {
    color: #fff;
}

#nav_bar li #instagram:hover {
    color: #efc04a;
    opacity: 1;
}

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}

/* SHARE BUTTONS */
.share-container {
    text-align: center;
    margin-top: -10px;
}

ul.share-buttons {
    list-style: none;
    padding: 0;
}

ul.share-buttons li {
    display: inline;
}

ul.share-buttons .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

ul.share-buttons img {
    width: 32px;
}

.w3-hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
}

/* CREDITS */
.credits {
    color: #ffffff;
  margin: 1rem auto 0;
  max-width: 60%;
  padding-bottom: 2.4rem;
  text-align: left
}
.creditText {
  display: inline-block;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  margin: 0 1rem 0rem 0;
}

.creditText a {
  color: #c7002b;
  font-weight: 700;
  cursor: pointer;
}

/*----- Hero Image -----*/

#heroimg {
    width: 100%;
    position: relative;
}/*apply to wrapping div with an img tag within*/

#heroimg img {
    width: 100%;
}

.arthed {
    text-align: center;
    color: #FFFFFF;
    font-size: 100px;
    font-family: 'Staatliches', Arial, sans-serif;
    
}

/* SHARE BUTTONS */
    
    
}/*apply to h1 within the heroimg div*/

/*----- Body Copy Things -----*/

.headline {
      width: 80%;
      padding: 0% 10% 0 10%;
      font-size: 25px;
  }

.headline {
    color: #ffffff; 
    text-align: center;
    font-family: 'Montserrat', Arial, sans-serif;
    /* font-family: "Playfair Display", Georgia, serif; */
    font-size: 25px;
    margin-top: 1.5px;
}

}/*apply to h1, not the art hed*/

.credit {
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 50px;
}/*apply to h4 with developer's name and title*/


.dropcap {
    font-weight: 700;
    float: left;
    font-size: 4.9em;
    font-family: "Alfa Slab One";
    line-height: .9em;
    padding-right: 5px;
    background-color: #fff;
}/*apply to wrapping span tag*/

.title {
    color: #606060;
}/*should be in same p tag as the author name*/

/*---- Landing Page ---- */
.row-3 {
    width: 33.33%;
    float: left;
    position: relative;
}

.row-2 {
    width: 50%;
    float: left;
    position: relative;
}

.row-1 {
    width: 100%;
    position: relative;
    float: left;
}

.header {
    background: #292929;
    background: -webkit-linear-gradient(rgba(41,41,41,0), rgba(41,41,41,1));
    background: -o-linear-gradient(rgba(41,41,41,0), rgba(41,41,41,1));
    background: -moz-linear-gradient(rgba(41,41,41,0), rgba(41,41,41,1));
    background: linear-gradient(rgba(41,41,41,0), rgba(41,41,41,1));
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

.row-1 .header h2{
    font-size: 50px;
}

.row-2 .header h2 {
    font-size: 30px
}



.header h2{
    padding: 0 5%;
    font-family: "Montserrat";
    text-shadow: -1px 1px 2px #000;
    margin: 0;
    text-align: right;
}

.header p {
    text-align: right;
    padding: 0 5% 0 0;
    width: 95%;
}

/*--span {
    background-color: #292929;
}*/



.row-3 img, .row-2 img, .row-1 img {
    width: 100%;
}

/*----- Image stuff -----
also use these tags to move iframes, graphics etc.. anything that would behave like a photo*/

.pcut{
    float: right;
    text-align: left;
    margin:0;
    font-weight: 100;
    color: #808080;
    font-size: 12px;
    width: 100%;
    padding: 0;
}/*add p tag, should be after the photog p tag*/

.galleryPcut{
float: right;
    text-align: left;
    margin:0;
    font-weight: 100;
    color: #808080;
    font-size: 12px;
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
}

.photog{
    float: right;
    text-align: right;
    margin:0;
    font-weight: 800;
    color: #000;
    font-size: 12px;
    width: 100%;
    padding: 0;
}/*add to p tag, should be before the pcut p tag*/

.oneimg_full p{
    width:60%;
    padding:0 20%;
}


/*----- Gallery Stuff -----*/

.gallery_bot {
    padding: 0;
    width: 20%;
    float: left;
}

.w3-hover-shadow:hover {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important
}

.mySlides {
    display:none;
}

/*----- Other -----*/

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}/*effects the post logo in the top left of the page*/

.parallax-container {
    height: 500px;
}

.parallax-container img {
    width: 100%;
}

/* Landing page clicky box at bottom.*/

.footer {
    color: #FFF;
    font-family: 'Playfair Display';
    width: 100%;
    height: 200px;
    text-shadow: 2px 2px 5px #000;
    background-color: #292929;
    display: table;
}

.footer_inside {
    vertical-align: middle;
    display: table-cell;
}

.footer h2 {
    font-size: 40px;
    width: 70%;
    padding: 0 15%;
    margin: 0;
    line-height: 35px;
}

.footer p {
    font-family: 'Montserrat';
    margin: 0;
    width: 70%;
    padding: 10px 15% 0 15%;
}

.copyright {
  color: #FFF;
  font-family: 'Montserrat';
  width: 100%;
  height: 20px;
  text-shadow: 2px 2px 5px #000;
  background-color: #171717;
  display: table;
}

.copyright_inside {
  vertical-align: middle;
  display: table-cell;
}

.copyright p {
    font-family: 'Montserrat';
    margin: 0;
    width: 70%;
    padding: 13px 15% 15px 15%;
}

.btn-container {
  margin-left:20px;
}

.projects {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.projects:hover {
  background-color: white;
}

.join {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.join:hover {
  background-color: white;
}
@media screen and (max-width: 1380px) {
    #arthed {
        font-size: 100px;
    }
}

@media screen and (max-width: 1099px) {
    #arthed {
        font-size: 70px;
    }
}

@media screen and (max-width: 750px){
    
    .oneimg_right, .oneimg_left, .oneimg_center {
        width: 80%;
        padding: 0 10% 10px 10%;
    }
    
    .oneimg_full p {
        width: 80%;
        padding: 0 10%;
    }
    
    .pq_center, .pq_right, .pq_left {
        padding: 0 5%;
        width: 90%;
    }
    
    .column20center, p {
        width: 80%;
        padding: 0 10%;
    }
    
    #arthed {
        font-size: 40px;
        bottom: 0;
        text-align: center;
        top: 200px;
        right: 0;
    }
    
    .subhed{
        padding: 0 10%;
    }
    
    .credit{
        padding-bottom: 20px;
    }
    
    #logo {
        height: 25px;
    }

    .headline {
        width: 80%;
        padding: 0% 10% 0 10%;
        font-size: 25px;
    }
    
    .date {
        padding: 0 10%;
        width: 80%;
    }
    
    #banner {
        font-size: 50px;
    }
    
    .story {
        height: 300px;
    }
    
    .row-3 {
        width: 90%;
        padding: 1% 5%;
    }
    .row-2 {
        width: 90%;
        padding: 1% 5%;
    }
    .row-1 {
        width: 90%;
        padding: 1% 5%;
    }
    
    .row-1 .header h2, .row-2 .header h2, .row-3 .header h2 {
        font-size: 16px
    }

    .header {
        width: 90%;
    }
}
