/* Template.css
This is a template for special projects at The Post.
Template originally coded by Taylor Johnston, digital managing editor at The Post.
Please contact at taylorfjohnston@gmail.com with questions.*/
/* GENERAL STYLES */
body {
    font-family: montserrat, sans-serif;
    background-color: #ffffe5;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    opacity: .5;
}

p {
    width: 60%;
    padding: 0 20%;
}

h2 {
    padding: 0 15%;
}

h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* COLUMNS */
.column20center {
    width: 60%;
    padding: 0 20%;
}

/* NAVIGATION BAR */
#nav_bar {
    background: #292929;
    color: #FFF;
    height: 52px;
}

#nav_bar img {
    height: 30px;
    padding: 10px;
    float: left;
}

#nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    float: right;
}

#nav_bar ul {
    margin: 0;
}

#nav_bar li #facebook {
    color: #fff;
}

#nav_bar li #facebook:hover {
    color: #337ab7;
    opacity: 1;
}

#nav_bar li #twitter {
    color: #fff;
}

#nav_bar li #twitter:hover {
    color: #55ACEE;
    opacity: 1;
}

#nav_bar li #instagram {
    color: #fff;
}

#nav_bar li #instagram:hover {
    color: #efc04a;
    opacity: 1;
}

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}

/* HERO IMAGE */
#heroimg {
    width: 100%;
    position: relative;
}

#heroimg img {
    width: 100%;
}

/* HEADLINE STYLES */
h1, h2, h3, h4 {
    margin-bottom: 1.2px;
}

/* HEADER */
.date {
    margin-top: 80px;
    text-align: center;
    text-transform: uppercase;
}

.header {
    margin-bottom: 2%;
    margin-left: 20%;
}

.arthed {
    text-align: left;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    font-size: 100px;
    font-family: 'Montserrat', Arial, sans-serif;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

.description {
    text-align: left;
    color: #000;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-top: -10px;
    width: 80%;
}

/* SHARE BUTTONS */
.share-container {
    text-align: center;
    margin-top: -10px;
}

ul.share-buttons {
    list-style: none;
    padding: 0;
}

ul.share-buttons li {
    display: inline;
}

ul.share-buttons .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

ul.share-buttons img {
    width: 32px;
}

/* CONTENT */
p.intro {
    font-size: 22px;
}

.dropcap {
    font-weight: 700;
    float: left;
    font-size: 2.9em;
    line-height: .9em;
    padding-right: 5px;
}

.subhed {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    display: inline-block;
    padding: 12px 15px 13px;
    margin-left: 20%;
}

/* MAP */
#embed {
    font-family: 'Montserrat', sans-serif;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    background-color: #fbfbfb;
    padding: 2.4rem;
    display: block;
    font-weight: 300;
    border-radius: 5px;
}

.map-title {
    font-size: 30px;
    font-weight: 800;
}

.map-sum {
    font-size: 15px;
    margin-bottom: 20px;
}

#map-container {
    position: relative;
    max-width: 400px;
    float: left;
}

#map {
    height: 600px;
    width: 900px;
}

.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Montserrat', Arial, Helvetica, sans-serif;
}

.county-name {
  font-size: 12px;
  font-weight: bold;
}

.county-case {
  font-size: 12px;
}


.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

#legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height:80px;
    margin-bottom: 100px;
    width: 150px;
    right: 140px;
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
}

.my-legend .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}

.my-legend .legend-scale ul li {
    display: block;
    float: left;
    width: 50px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
}

.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 50px;
}

.my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}

.my-legend a {
    color: #777;
}

.dot:before {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
  display: inline-block;
  position: relative;
  content: '';
  background-color: red;
  border: 1px solid #000;

}

.dot-text {
  font-size: 10px;
  position: relative;
  top: -.1rem;
  display: inline-block;
  margin-right: 5px;
}

.embed-credit {
    margin-top: 10px;
    font-size: 12px;
    text-align: left;
}

.source {
    font-size: 10px;
    margin-top: 5px;
    width: 100%;
}

/* CREDITS */
.credits {
    margin: 1rem auto 0;
    max-width: 60%;
    padding-bottom: 2.4rem;
    text-align: left
}

.creditText {
    display: inline-block;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    margin: 0 1rem 0rem 0;
}

.creditText a {
    color: #000;
    font-weight: 700;
    cursor: pointer;
}

/* SPECIAL PROJECT FOOTER */
.footer {
    color: #FFF;
    font-family: 'Playfair Display';
    width: 100%;
    height: 200px;
    text-shadow: 2px 2px 5px #000;
    background-color: #292929;
    display: table;
}

.footer_inside {
    vertical-align: middle;
    display: table-cell;
}

.footer h2 {
    font-size: 40px;
    width: 70%;
    padding: 0 15%;
    margin: 0;
    line-height: 35px;
}

.footer p {
    font-family: 'Montserrat';
    margin: 0;
    width: 70%;
    padding: 10px 15% 0 15%;
}

.copyright {
    color: #FFF;
    font-family: 'Montserrat';
    width: 100%;
    height: 20px;
    text-shadow: 2px 2px 5px #000;
    background-color: #171717;
    display: table;
}

.copyright_inside {
    vertical-align: middle;
    display: table-cell;
}

.copyright p {
    font-family: 'Montserrat';
    margin: 0;
    width: 70%;
    padding: 13px 15% 15px 15%;
}

.btn-container {
    margin-left: 20px;
}

.projects {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.projects:hover {
    background-color: white;
}

.join {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.join:hover {
    background-color: white;
}

/* MEDIA QUERIES */
@media screen and (max-width: 750px) {
    #map {
        width: 350px;
        height: 350px;
    }

    #embed {
        width: 350px;
    }

    .column20center, p {
        width: 80%;
        padding: 0 10%;
    }

    #logo {
        height: 25px;
    }

    .date {
        padding: 0 10%;
        width: 80%;
    }

    .arthed {
        font-size: 60px;
        line-height: 60px;
    }

    .headline {
        width: 80%;
        padding: 0% 10% 0 10%;
        font-size: 25px;
    }

    .oneimg_right, .oneimg_left, .oneimg_center {
        width: 80%;
        padding: 0 10% 10px 10%;
    }

    .oneimg_full p {
        width: 80%;
        padding: 0 10%;
    }

    .pq_center, .pq_right, .pq_left {
        padding: 0 5%;
        width: 90%;
    }

    .subhed {
        padding: 0 10%;
    }

    .credits {
        max-width: 100%;
        text-align: left;
        margin-left: 50px;
    }

    .footer {
        height: 300px;
    }
}
