/* Template.css
This is a template for special projects at The Post.
Template originally coded by Seth Archer, digital managing editor at The Post.
Please contact at SethPArcher@gmail.com with questions.*/

/*----- Global Styles -----*/

body {
    font-family: montserrat, sans-serif;
    background-color: #FFF;
    color: #030406;
}

a {
    color: #844C40;
    text-decoration: none;
}

a:hover {
    opacity: .6;
}

p {
    width: 60%;
    padding: 0 20%;
}/*these have a style simmilar to column20center, do not add column20center to p tags*/

h2 {
    padding: 0 15%;
}

h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.date{
    font-weight: 800;
    color: #eed7fc;
    width: 60%;
    padding: 0% 20% 0 20%;
    margin: 0;
}/*apply to p tag*/

.intro {
    width: 100%;
    text-align: center
}

/*-----Column stuff-----*/

.column20center {
    width: 60%;
    padding: 0 20%;
}/*do not apply to p tags, they automatically have a simmilar styling*/

.column10center {
    width: 80%;
    padding: 0 10%;
}

.column10left {
    width: 40%;
    padding-left: 10%;
}

.column10right {
    width: 40%;
    padding-right: 10%;
}

/*----- Nav Bar -----*/
/*we don't use this section as often. delete if not used in the project*/

#nav_bar {
    background: #030406;
    color: #FFF;
    height: 50px;
}

#nav_bar img {
    height: 30px;
    padding: 10px;
    float: left;
}

#nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    float: right;
}

#nav_bar ul {
    margin: 0;
}

/*----- Hero Image -----*/

#heroimg {
    width: 100%;
    position: relative;
}/*apply to wrapping div with an img tag within*/

#heroimg img {
    width: 100%;
}

#arthed {
    color: #48373F;
    position: absolute;
    bottom: 30px;
    padding: 0;
    margin: 0;
    font-size: 6vw;
    text-align: center;
    width: 100%;
    font-family: montserrat;
}/*apply to h1 within the heroimg div*/


/*---- Landing Page Stuff ----*/

hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
}

.bookends {
  position: relative;
  border-width: 5px;
  border-color: hsl(0, 0%, 50%) transparent;
  height: 11px;
  border-style: double;
  width: 20%;
}
.bookends:before,
.bookends:after {
  position: absolute;
  bottom: -3.536px;
  width: 7.071px;
  height: 7.071px;
  display: block;
  border-width: 0 7.071px 7.071px 0;
  border-color: hsl(0, 0%, 50%);
  border-style: double;
  box-sizing: border-box;
}
.bookends:before {
  transform: translateZ(0) rotate(-45deg);
  left: -21px;
}
.bookends:after {
  transform: translateZ(0) rotate(135deg);
  right: -21px;
}


.wrapper {
	max-width: 1100px;
	margin: 0 auto;
}

.wrapper>div {
	padding: 7em;
	color: white;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	grid-auto-rows: minmax(100px, auto);
}

.one {
	grid-column: 1;
	grid-row: 1;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/4bb7dbd1-bf74-49ee-a187-06699c765207.sized-1000x1000.jpg');
	position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;

}

.one span {
    position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.two {
	grid-column: 2;
	grid-row: 1;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/a252ff43-ba80-4792-b4c5-f0044a4eee21.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;

}

.two span {
    position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.three {
	grid-column: 3;
	grid-row: 1;
	background-color: #A6A46B;
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.three span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}
.four {
	grid-column: 4;
	grid-row: 1;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/a028889b-574b-48a2-934b-5868c47f11b8.sized-1000x1000.jpg');
	position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;

}

.four span {
	position: absolute;
	bottom: 2px;
	left: 5px;
    text-shadow: 2px 2px black;
}

.five {
	grid-column: 1;
	grid-row: 2;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/18ea0ef3-cd38-4f74-9adc-4d50d9f86e9b.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;

}

.five span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.six {
	grid-column: 2;
	grid-row: 2;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/0901c436-ffd0-4853-b87b-795307ef0ce0.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.six span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.seven {
	grid-column: 3;
	grid-row: 2;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/2a81311d-a255-42c6-b97f-733399d92aaa.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.seven span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.eight {
	grid-column: 4;
	grid-row: 2;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/ee2b66b4-cb68-42f2-aa52-a9366e8c3be9.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.eight span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.nine {
	grid-column: 1;
	grid-row: 3;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/b03afb71-6745-4f68-90e2-128fe488f3c3.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.nine span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}


.ten {
	grid-column: 2;
	grid-row: 3;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/d2e32f94-0f0c-4b6f-a619-12199b22ed6d.sized-1000x1000.png');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.ten span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.eleven {
	grid-column: 3;
	grid-row: 3;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/4e4bb6d0-5735-4d96-8e3d-a46f13d8ea66.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.eleven span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.twelve {
	grid-column: 4;
	grid-row: 3;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/170c8f80-9f84-41f5-8adf-8bdc1de7881c.sized-1000x1000.JPG');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    background-position: 20px;
    
}

.twelve span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;

}

.thirteen {
	grid-column: 1;
	grid-row: 4;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/a2be22d3-71ee-4af8-b3db-c956cf753ba7.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.thirteen span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.fourteen {
	grid-column: 2;
	grid-row: 4;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/c5d614bf-3816-48e8-86ac-c55810ea59f3.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.fourteen span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.fifteen {
	grid-column: 3;
	grid-row: 4;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/fa5ad881-bb19-428b-a803-cfefcbcf65c9.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.fifteen span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.sixteen {
	grid-column: 4;
	grid-row: 4;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/4b1e2fa9-cdf0-4425-92ba-36a2ecf367cf.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.sixteen span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.seventeen {
	grid-column: 1;
	grid-row: 5;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/955a50e4-78fb-42b6-a987-4e2766198fe2.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.seventeen span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.eighteen {
	grid-column: 2;
	grid-row: 5;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/588a7ab7-cc40-43ba-a4dd-90541c56dbcc.sized-1000x1000.png');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.eighteen span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.nineteen {
	grid-column: 3;
	grid-row: 5;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/f10bfefa-266c-47dc-95f2-f52c732557bc.sized-1000x1000.JPG');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.nineteen span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.twenty {
	grid-column: 4;
	grid-row: 5;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/420b8c41-98c4-46fd-acf9-52de017b9020.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.twenty span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.twenty-one {
	grid-column: 1;
	grid-row: 6;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/e44361a6-aa22-40cb-afb7-ff7014c076c7.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.twenty-one span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.twenty-two {
	grid-column: 2;
	grid-row: 6;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/3b57d248-a237-4f0e-bbe8-d2bf48da0920.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.twenty-two span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.twenty-three {
	grid-column: 3;
	grid-row: 6;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/ca601779-7588-4908-aff5-edf7e6810908.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.twenty-three span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.twenty-four {
	grid-column: 4;
	grid-row: 6;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/5d2db828-c129-421c-b0b0-8a945e314dff.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.twenty-four span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.twenty-five {
	grid-column: 1;
	grid-row: 7;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/6ee06eeb-ccf1-40cc-9d77-996a3f102ad4.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.twenty-five span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.twenty-six {
	grid-column: 2;
	grid-row: 7;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/6170dca1-4577-42fe-b779-b1b2052464d9.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.twenty-six span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.twenty-seven {
	grid-column: 3;
	grid-row: 7;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/a5fbd8e3-7d67-41d2-bb47-9b17d4e64509.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.twenty-seven span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.twenty-eight {
	grid-column: 4;
	grid-row: 7;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/b9a47276-2b4b-453d-b51a-252aa00a4635.sized-1000x1000.png');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.twenty-eight span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.twenty-nine {
	grid-column: 1;
	grid-row: 8;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/9b9b49d4-2bf5-4235-a1f7-52f3f07d13a6.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.twenty-nine span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.thirty {
	grid-column: 2;
	grid-row: 8;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/84beffa6-2261-40f5-bd84-b782c06be4d5.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.thirty span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.thirty-one {
	grid-column: 3;
	grid-row: 8;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/4f8cfbb5-4ef2-4a89-af31-e6df560f532c.sized-1000x1000.png');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.thirty-one span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.thirty-two {
	grid-column: 4;
	grid-row: 8;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/509d6dda-d354-4871-8234-2d31e34d071f.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.thirty-two span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.thirty-three {
	grid-column: 1;
	grid-row: 9;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/dfde2e3d-c76e-4a5d-a761-98ba7757211a.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.thirty-three span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.thirty-four {
	grid-column: 2;
	grid-row: 9;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/699a1a9d-6eb1-40a5-91c0-cef6d1c5734c.sized-1000x1000.jpeg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.thirty-four span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.thirty-five {
	grid-column: 3;
	grid-row: 9;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/3dee74af-d815-4ad3-bbf6-a59ce90f6bf5.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.thirty-five span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.thirty-six {
	grid-column: 4;
	grid-row: 9;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/dc46510a-c854-4e97-9daf-d9515a11ecea.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.thirty-six span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.thirty-seven {
	grid-column: 1;
	grid-row: 10;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/64f65348-b90e-4764-8fa8-947c7b8aee42.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.thirty-seven span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}


.thirty-eight {
	grid-column: 2;
	grid-row: 10;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/8e18ca38-202f-4cdd-b2d8-5965817cbee3.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.thirty-eight span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}


.thirty-nine {
	grid-column: 3;
	grid-row: 10;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/b38aa04f-c6bb-49ab-8213-60f95444d9ab.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.thirty-nine span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}


.fourty {
	grid-column: 4;
	grid-row: 10;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/b2372d86-a865-4e94-ac90-41d6decc97db.sized-1000x1000.png');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.fourty span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.fourty {
	grid-column: 4;
	grid-row: 10;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/b2372d86-a865-4e94-ac90-41d6decc97db.sized-1000x1000.png');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}

.fourty-one span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.fourty-one {
	grid-column: 1;
	grid-row: 11;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/4d288c28-2a58-4f3e-81b9-1cae716b97d0.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    border: 5px solid #A6A46B;
    
}
/*HOVER*/
.one:hover {
	opacity: .6;
}

.two:hover {
	opacity: .6;
}

.three:hover {
	opacity: .6;
}

.four:hover {
	opacity: .6;
}

.five:hover {
	opacity: .6;
}

.six:hover {
	opacity: .6;
}

.eight:hover {
	opacity: .6;
}

.nine:hover {
	opacity: .6;
}

.ten:hover {
	opacity: .6;
}

.eleven:hover {
	opacity: .6;
}

.twelve:hover {
	opacity: .6;
}

.thirteen:hover {
	opacity: .6;
}

.fourteen:hover {
	opacity: .6;
}

.fifteen:hover {
	opacity: .6;
}

.sixteen:hover {
	opacity: .6;
}


.seventeen:hover {
	opacity: .6;
}


.eighteen:hover {
	opacity: .6;
}

.nineteen:hover {
	opacity: .6;
}


.twenty:hover {
	opacity: .6;
}

.twenty-one:hover {
	opacity: .6;
}

.twenty-two:hover {
	opacity: .6;
}

.twenty-three:hover {
	opacity: .6;
}

.twenty-four:hover {
	opacity: .6;
}

.twenty-five:hover {
	opacity: .6;
}

.twenty-six:hover {
	opacity: .6;
}

.twenty-seven:hover {
	opacity: .6;
}

.twenty-eight:hover {
	opacity: .6;
}

.twenty-nine:hover {
	opacity: .6;
}

.thirty:hover {
    opacity: .6;
}

.thirty-one:hover {
    opacity: .6;
}

.thirty-two:hover {
    opacity: .6;
}

.thirty-three:hover {
    opacity: .6;
}

.thirty-four:hover {
    opacity: .6;
}

.thirty-five:hover {
    opacity: .6;
}

.thirty-six:hover {
    opacity: .6;
}

.thirty-seven:hover {
    opacity: .6;
}

.thirty-eight:hover {
    opacity: .6;
}

.thirty-nine:hover {
    opacity: .6;
}

.fourty:hover {
    opacity: .6;
}

.fourty-one:hover {
    opacity: .6;
}


@media only screen and (max-width: 768px) {
	.wrapper {
		display: block;
	}
	.margin-bot {
		margin-bottom: 2px;
	}
    
}
/*----- Body Copy Things -----*/

.headline {
    color: #497425;
    padding: 0 10% 0 10%;
    width: 80%;
    margin: 0;
    font-size: 40px;
    font-weight: 900i;
    text-transform: uppercase;
}/*apply to h1, not the art hed*/

.credit {
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 50px;
}/*apply to h4 with developer's name and title*/

.subhed {
    font-family: montserrat
    , sans-serif;
    font-weight: 800;
    color: #7fc448;
}/*apply to h2 tags*/

.dropcap {
    font-weight: 700;
    float: left;
    font-size: 2.9em;
    line-height: .9em;
    padding-right: 5px;
}/*apply to wrapping span tag*/

.title {
    color: #606060;
}/*should be in same p tag as the author name*/

#byline {
    margin: 0;
    font-weight: 400;
}/*applies to entire byline, with title. bold the author name. put on h4 tag*/

/*----- Img Things -----*/

.oneimg_center {
    width: 60%;
    padding: 0 20%;
}/*Apply to a wrapping div*/

.oneimg_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 10px;
    float: right;
}/*Apply to a wrapping div*/

.oneimg_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 20px;
    float: left;
}/*Apply to a wrapping div*/

.twoimg_center {
    width: 60%;
    margin: 0 20%;
}

.twoimg_center img {
    width: 50%;
    padding: 0;
    margin: 0;
    float: left;
}

.threeimg_full {
    width: 33%;
}

.oneimg_full img, .oneimg_center img, .oneimg_right img, .oneimg_left img {
    width: 100%
}

/*----- Pullquote stuff -----*/

blockquote {
    padding: 0;
    margin: 5px;
}/*should be the text of the pull quote*/

.pq_center {
    width: 60%;
    padding: 0 20%;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #5379c4;
    font-weight: 800;
}/*add to wrapping div*/

.pq_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 15px;
    float: right;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #5379c4;
}/*add to wrapping div*/

.pq_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 0;
    float: left;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5379c4;
}/*add to wrapping div*/

.attribution {
    font-size: 20px;
    text-transform: none;
    display: block;
    text-align: right;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
    padding: 0 5%;
    width: 90%;
}/*add to p tag within the wrapping div*/

/*----- Image stuff -----
also use these tags to move iframes, graphics etc.. anything that would behave like a photo*/

.pcut{
    float: right;
    text-align: left;
    margin:0;
    font-weight: 100;
    color: #808080;
    font-size: 12px;
    width: 100%;
    padding: 0;
}/*add p tag, should be after the photog p tag*/

.galleryPcut{
float: right;
    text-align: left;
    margin:0;
    font-weight: 100;
    color: #808080;
    font-size: 12px;
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
}

.photog{
    float: right;
    text-align: right;
    margin:0;
    font-weight: 800;
    color: #000;
    font-size: 12px;
    width: 100%;
    padding: 0;
}/*add to p tag, should be before the pcut p tag*/

.oneimg_full p{
    width:60%;
    padding:0 20%;
}


/*----- Gallery Stuff -----*/

.gallery_bot {
    padding: 0;
    width: 20%;
    float: left;
}

.w3-hover-shadow:hover {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important
}

.mySlides {
    display:none;
}

/*----- Other -----*/

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}/*effects the post logo in the top left of the page*/

.parallax {
    height: 800px;
    width: 100%;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}/* add to the wrapping div, give the div an inline style with the photo you want to be parallax*/

/* Landing page clicky box at bottom.*/

.story {
    color: #FFF;
    font-family: playfair display;
    width: 100%;
    height: 200px;
    text-shadow: 2px 2px 5px #000;
    background-color: #292929;
    display: table;
}

.story_inside{
    vertical-align: middle;
    display: table-cell;
}

.story h2{
    font-size: 40px;
    width: 70%;
    padding: 0 15%;
    margin: 0;
    line-height: 35px;
}

.story p{
    font-family: montserrat;
    margin: 0;
    width: 40%;
    padding: 10px 15% 0 15%;
}

@media screen and (max-width: 750px){
    
    .oneimg_right, .oneimg_left, .oneimg_center {
        width: 80%;
        padding: 0 10% 10px 10%;
    }
    
    .oneimg_full p {
        width: 80%;
        padding: 0 10%;
    }
    
    .pq_center, .pq_right, .pq_left {
        padding: 0 5%;
        width: 90%;
    }
    
    .column20center, p {
        width: 80%;
        padding: 0 10%;
    }
    
    #arthed {
        bottom: 10px;
    }
    
    .subhed{
        padding: 0 10%;
    }
    
    .credit{
        padding-bottom: 20px;
    }
    
    #logo {
        height: 25px;
    }

    .headline {
        width: 80%;
        padding: 0% 10% 0 10%;
        font-size: 25px;
    }
    
    .date {
        padding: 0 10%;
        width: 80%;
    }
    
    #banner {
        font-size: 50px;
    }
    
    .story {
        height: 300px;
    }
}
