/* Template.css
This is a template for special projects at the post. Things are written modularly.
This means that The Post can deploy special projects that look nice and are responsive rapidly,
and with only moderate HTML, CSS and Github training */

/*----- Global Styles -----*/


@font-face {
    font-family: montserrat_light;
    src: url(montserrat/Montserrat-light.otf);
}

body {
    font-family: montserrat, sans-serif;
    background-color: #FFF;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    opacity: .6;
}

.title {
    color: #606060;
}

.bold{
    font-weight: 700;
}/* for montserrat bolding things */

p {
    font-family:montserrat_light, sans-serif;
 
}

#wrap {
    width: 100%;
    margin: 0 auto;
    
}

#text {
    float: right;
    width: 70%;
    
}

.footer {
    height: 50px;
    background-color: #292929;
    width: 100%;
    float: right;
}

.copyright{
    color: #505050;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    width: 100%;
}

/*-------Sidebar-------*/

#sidebar {
    float: left;
    width: 30%;
   
    
   
}





/*-----Column stuff-----*/

.column20center {
    width: 60%;
    padding: 0 20%;
}

.column10center {
    width: 80%;
    padding: 0 10%;
}

.column30center {
    width: 80%;
    padding: 0 5%;
}

.column10left {
    width: 40%;
    padding-left: 10%;
    align-content: center;
  
}

.column10right {
    width: 100%;
    
    float: right;
}

/*----- Nav Bar -----*/

#nav_bar {
    background: #292929;
    color: #FFF;
}

#nav_bar img {
    height: 30px;
    padding: 10px;
    display: inline-block;
}

#nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 14px;
    float: right;
}

#nav_bar ul {
    margin: 0;
    padding: 0;
    float: right;
}

#hamburger {
    color: #FFF;
    fill: #FFF;
    visibility: hidden;
}

/*----- Hero Image -----*/

#heroimg {
    width: 100%;
    position: relative;
}

#heroimg img {
    width: 100%;
}

#arthed {
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    margin: 0;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    width: 7%;
    padding: 7px;
}
/*----- Body Copy Things -----*/

#headline {
    margin: 0px 0 0 0;
    padding-top: 0;
    
}

#date {
    margin: 20px 0 0 0;
}

#byline {
    margin: 0;
    font-weight: 400;
    
}

.subhed {
    font-family: montserrat, sans-serif;
    font-weight: 700;
}

.dropcap {
    font-weight: 700;
    float: left;
    font-size: 4.6em;
    line-height: .9em;
    color: #10503d;
}

/*----- Img Things -----*/

.oneimg_center {
    width: 100%;
    padding-left: -20%;
}

.oneimg_right {
    width: 50%;
    padding-right: ;
    padding-left: 10px;
    float: right;
}

.oneimg_left {
    width: 50%;
    padding-left: 10%;
    padding-right: 10px;
    float: left;
}

.twoimg_center {
    width: 60%;
    margin: 0 20%;
}

.twoimg_center img {
    width: 50%;
    padding: 0;
    margin: 0;
    float: left;
}

.threeimg_full {
    width: 33%;
}

.oneimg_full {
    width: 100%
}

/*-----cutlines-------*/

.photog{
    float: right;
    text-align: right;
    margin:0;
    font-weight: 800;
    color: #000;
    font-size: 12px;
    width: 100%;
    padding: 0;
    font-family: montserrat;
}

.pcut{
    float: right;
    text-align: left;
    margin:0;
    font-weight: 100;
    color: #808080;
    font-size: 12px;
    width: 100%;
    padding-bottom: 10px;
    font-family: montserrat;
}

/*----- Pullqute stuff -----*/

.pq_center {
    width: 80%;
    padding: 0 0 0 20%;
    margin: 5%  0;
    font-size: 25px;
    text-transform: uppercase;
    text-align: left;
}

.pq_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 15px;
    float: right;
    margin: 5% 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #10503d;
}

.pq_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 15px;
    float: left;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

.attribution {
    font-size: 20px;
    text-transform: none;
    display: block;
    text-align: right;
    font-weight: 400;
    
}

/*----- Embedding Things -----*/

.embed_center {
    width: 60%;
    padding: 0 20%;
}

.embed_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 10px;
    float: right;
}

.embed_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 10px;
    float: left;
}

.embed_full {
    width: 100%
}

/*----- Banner Ads -----*/

.bannerad {
    width: 60%;
    padding: 10px 20%;
}

/*----- Media Queries ------*/

@media screen and (max-width: 750px){
    
    .oneimg_right  {
        width: 80%;
        padding: 0 0px ;
        
    }
    
    .oneimg_center {
        width: 80%;
        float: right;
    }
    
    #sidebar {
        display: none;
    }
    
    #text {
        width: 100%;
        padding: 
    }
    
    .oneimg_full  {
        
        width: 100%;
        
    }
    
    .pq_center, .pq_right, .pq_left {
        padding: 0 5%;
        width: 90%
    }
    
    .column30center {
        width: 80%;
        padding: 0 10% 0 10%;
    }
    
    #arthed {
        font-size: 40px;
    }
    
    .subhed{
        padding: 0;
    }
    
    .icon_responsive {
        display: block;
        float: right;
        padding: 0 6% 0 0;
    }
    
    .pcut{
    width: 100%;
             
    }
    
    .hold_response {
        display: inline-block;
        width: 80%;
        padding-left: 10%
        
    }
    
    .tupa_img {
    width: 40%;
    margin: auto;
    padding-right: 23%;
    padding-left: 20%;
   
  
   
}

.hold_response .named {
    text-align: center;
    padding-top: px;
    font-size: 20px;
    margin: auto;
    color: #10503d;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: #000;
    display: inline;
    float: right;
    margin: 2px 0;
}
   
  
.img_text {
    text-align: center;
    font-size: 18px;
    color: #10503d;
   
}

    
    
}