/* Template.css
This is a template for special projects at The Post.
Template originally coded by Seth Archer, digital managing editor at The Post.
Please contact at SethPArcher@gmail.com with questions.*/

*{
  margin:0;
  padding:0;
}

#showcase{
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8Ilf-i2TXplUrTBJ-ugwuyd8X8mxhgMD44UQOvcawkbXx2IzNKBLWVrLA');
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding: 0 20px;
}

#showcase h1{
  font-size:50px;
  line-height:1.2;
  color:#fff;
  font-family: montserrat;
  letter-spacing: 10px;
  
}
#showcase h2{
  font-size:25px;
  line-height:1.2;
  color:#fff;
  font-family: montserrat;
}

#showcase .button{
  font-size:18px;
  text-decoration:none;
  color:darkgreen;
  padding: 10px 20px;
  border-radius:10px;
  margin-top:20px
}

#showcase .button:hover{
  background-color: darkgreen;
  color:#fff;
}

    
#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}/*effects the post logo in the top left of the page*/    