/* Template.css
This is a template for special projects at The Post.
Template originally coded by Taylor Johnston, digital managing editor at The Post.
Please contact at taylorfjohnston@gmail.com with questions.*/

/* GENERAL STYLES */
html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #FFF;
    color: #030406;
}

.landing-pg {
    background: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


a:hover,
.creditText a:hover {
    filter: saturate(2.5);
}


.s-headline a,
.creditText a {
    color: #ecd501;
}

p {
    width: 60%;
    padding: 0 20%;
}

h2 {
    padding: 0 15%;
}

h3 {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR */
#nav_bar {
    background: #292929;
    color: #FFF;
    height: 52px;
}

#nav_bar img {
    height: 30px;
    padding: 10px;
    float: left;
}

#nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    float: right;
}

#nav_bar ul {
    margin: 0;
}

#nav_bar li #facebook {
    color: #fff;
}

#nav_bar li #facebook:hover {
    color: #337ab7;
    opacity: 1;
}

#nav_bar li #twitter {
    color: #fff;
}

#nav_bar li #twitter:hover {
    color: #55ACEE;
    opacity: 1;
}

#nav_bar li #instagram {
    color: #fff;
}

#nav_bar li #instagram:hover {
    color: #efc04a;
    opacity: 1;
}

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}

/* HERO IMAGE */
#heroimg {
    width: 100%;
    position: relative;
    height: 25em;
    background-color: #3d3d3d;
}

#heroimg img {
    width: 100%;
}

#arthed {
    color: #FFF;
    position: absolute;
    bottom: 40%;
    padding: 0;
    margin: 0;
    font-size: clamp(2.5rem, 10vw, 5.6rem);
    line-height: clamp(2.4rem, 10vw, 5.5rem);
    /* font-size: 5.6rem; */
    font-weight: 700;
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 3px #000;
    -webkit-text-stroke: 4px #000;
}

/* HEADLINE STYLES */
h1,
h2,
h3,
h4 {
    margin-bottom: 1.2px;
}


/* Pick one font depending on design (or find another one) */
.cutline {
    float: left;
    text-align: left;
    margin: 0;
    color: #000;
    font-size: 0.8rem;
    width: 90%;
    padding: 5px 0;
    padding-left: 10px;
}

/* INTRO CONTAINER*/
.intro-cont {
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.intro-cont p {
    line-height: 1.5em;
}

p.signature {
    text-align: center;
    font-size: 1em;
}

.landing-intro {
    text-align: center;
    font-size: 2.5rem;
    display: block;
}

/* SOCIAL HANDLES*/
.s-headline {
    color: #3d3d3d;
    width: 80%;
    padding: 0 10%;
    margin: 0;
    font-size: calc(1vw + 0.8rem);
    font-weight: 900;
    text-align: left;
    text-transform: none;
}

.s-headline a:hover {
    text-decoration: underline;
    filter: saturate(3);
}

#socials-content {
    margin: 20px 20% 0px 20%;
    padding: 20px 0;
}

.bubble {
    position: relative;
    background: rgba(0, 0, 0, .1);
    border-radius: 30px;
}

/* BUBBLE POINT - TOP */
.bubble3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .1);
    border-top: 0;
    margin-left: -23px;
    margin-top: -25px;
}

/* BUBBLE POINT - BOTTOM */
.bubble4::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top-color: rgba(0, 0, 0, .1);
    border-bottom: 0;
    margin-left: -25px;
    margin-bottom: -25px;
}

div.handle-div {
    margin: 50px auto;
}

.circle-button {
    font-family: 'Roboto', sans-serif;
    color: #8d5500;
    display: inline-block;
    font-size: 2rem;
    border-radius: 50%;
    transition: all 0.2s ease;
    height: 80px;
}

.fa-twitter,
.fa-instagram,
.fa-youtube,
.fa-snapchat-ghost,
.fa-facebook {
    padding: 5px;
}

.iconify {
    width: 70px;
    height: 64px;
    margin: 5px 10px 30px 10px;
}

a.to-tiktok:hover {
    background: #ee1d52;
}

.circle-button:hover {
    animation: circle-anim 0.3s ease forwards;
    transition: all 0.4s ease;
    filter: none;
}

.grow-container {
    display: inline-block;
    margin: 1em;
}

.fa-fw {
    width: 1.25em;
    text-align: center;
}

.flat-under a:hover {
    opacity: 100%;
    color: #fff;
}

div.flat-under.handle-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.to-insta:hover {
    background: #c32aa3;
}

.to-twitter:hover {
    background: #1DA1F3;
}

.to-youtube:hover {
    background: #ff0000;
}

.to-snapchat:hover {
    background: #ffe101;
}

.to-facebook:hover {
    background: #4b76d1;
}

@keyframes circle-anim {
    0% {}

    90% {
        padding: 0.35em;
        margin: -0.35em;
    }

    100% {
        padding: 0.25em;
        margin: -0.25em;
    }
}

.liveBlog {
    background-color: rgb(163, 4, 4);
    color: white;
    margin-bottom: 1.5em;
    text-align: center;
    padding: 1em 0;
}

.liveBlog a {
    font-size: clamp(1.5rem, 5vw, 3rem);
    line-height: clamp(1.4rem, 5vw, 3rem);
    font-weight: 900;
}

/* CREDITS */
.credits {
    margin: 1em auto 0;
    max-width: 50%;
    padding-bottom: 2.4em;
    text-align: center;
}

.creditText {
    display: inline-block;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1rem;
    margin: 0 1em 0em 0;
}

.creditText a {
    font-weight: 700;
    cursor: pointer;
}

#pageContent {
    display: flex;
    justify-content: center;
}

/*-- STORIES --*/
.storyContent {
    width: 60%;
}

.twitterEmbed {
    width: 30%;
    margin: 0 1em;
    max-height: 20em;
    overflow-y: scroll;
    margin-bottom: 5em;
}

.story {
    width: 100%;
    max-height: 15em;
    background-size: 100%;
    background-position: center;
    transition: all .5s ease;
}

.story:hover {
    background-size: 110%;
}

.box_hed {
    position: relative;
    width: 80%;
    height: 10em;
    padding: 5% 10%;
    text-shadow: 2px 2px 5px #000;
    line-height: 1.5rem;
    background-color: rgba(41, 41, 41, 0.4);
    transition: all 0.5s ease;
}

.box_hed:hover {
    background-color: rgba(3, 121, 48, 0.9);
}

.box_hed h2 {
    font-size: 2rem;
    line-height: 2rem;
    padding: 0;
}

.box_hed p {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin: 0.2em 0;
    text-decoration: none;
    padding:0;
    color: #fff;
}

/* ACCORDION */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color:rgb(223, 196, 175);
    color: white;
    border: 6px solid;
    border-color: rgb(172, 0, 0) rgba(0, 129, 255, 1) rgb(3, 85, 179) rgb(255, 5, 5);
    cursor: pointer;
    padding: 1.5em;
    margin: 0.2em 0;
    font-weight: 600;
    width: 100%;
    text-align: center;
    transition: all 0.2s ease-in-out;
    font-size: 1.5rem;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    color: #ecd501;
    background-color: #202020;
    border-color:  rgba(0, 129, 255, 1) rgb(255, 5, 5) rgb(172, 0, 0) rgb(3, 85, 179) ;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 1em;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  
  .accordion::after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    font-size: 1.5rem;
    color: #8d5500;
    float: right;
    margin-top: 0;
  }
  
  .active::after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
    color: #ecd501;
  }

/* SPECIAL PROJECT FOOTER */
.footer {
    color: #FFF;
    font-family: 'Playfair Display';
    width: 100%;
    height: 200px;
    text-shadow: 2px 2px 5px #000;
    background-color: #292929;
    display: table;
}

.footer_inside {
    vertical-align: middle;
    display: table-cell;
}

a.end {
    color: #fff;
    transition-duration: .2s;
}

a.end:hover {
    text-shadow: 0px 0px 10px #fff;
    letter-spacing: 3px;
    transition: ease-in-out .2s;
}

.footer h2 {
    font-size: 2.5rem;
    width: 70%;
    padding: 0 15%;
    margin: 0;
    line-height: 35px;
}

.footer p {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    width: 70%;
    padding: 10px 15% 0 15%;
}

.copyright {
    color: #FFF;
    font-family: 'Montserrat', Arial, sans-serif;
    width: 100%;
    height: 20px;
    text-shadow: 2px 2px 5px #000;
    background-color: #171717;
    display: table;
}

.copyright_inside {
    vertical-align: middle;
    display: table-cell;
}

.copyright p {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    width: 70%;
    padding: 13px 15% 15px 15%;
}

.btn-container {
    margin-left: 20px;
}

.join, 
.projects {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    transition-duration: .3s;
}

.join:hover,
.projects:hover {
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    transition-duration: .3s;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1080px) {

    .yt_center,
    .yt_right,
    .yt_left {
        height: 315px;
    }
}


@media screen and (max-width: 768px) {

    #logo {
        height: 25px;
    }

    #arthed {
        /* font-size: 4.5rem; */
        -webkit-text-stroke: 3px #3d3d3d;
        bottom: 40%;
    }

    #socials-content {
        margin: 20px 10% 0px 10%;
    }

    .handle-content {
        margin: 0 20%;
    }
    
    .byline-info p {
        text-align: center;
    }

    .share-container {
        text-align: center;
    }

    #pageContent {
        flex-direction: column;
    }

    .storyContent {
        width: 90%;
        padding: 0 5%;
    }
    
    .twitterEmbed {
        width: 80%;
        margin: 2em 10% 0;
        border-radius: 20px;
        border: 4px solid;
        border-color: rgb(172, 0, 0) rgba(0, 129, 255, 1) rgb(3, 85, 179) rgb(255, 5, 5);
        max-height: 25em;
    }

    .credits {
        max-width: 100%;
        text-align: center;
    }

    .footer {
        height: 300px;
    }
    
    a.end:hover {
    letter-spacing: 1px;
    }

    .copyright {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {

    #arthed {
        /* font-size: 3.1rem; */
        -webkit-text-stroke: 2px #3d3d3d;
    }

}

@media screen and (max-width: 500px) {
    
    .yt_right {
        width: 80%;
        padding: 0 10%;
        margin: 0;
        float: none;
        height: 230px;
    }

    .yt_left {
        width: 80%;
        padding: 0 10%;
        margin: 0;
        float: none;
        height: 230px;
    }

}


