/* Template.css
This is a template for special projects and landing pages at The Post.
Template originally coded by Taylor Johnston, digital managing editor at The Post. Current design by Midge Mazur, the web development director at The Post.
Please contact taylorfjohnston@gmail.com or mijanamazur@gmail.com with questions.
*/

/* GENERAL STYLES */
body {
    font-family: montserrat, sans-serif;
    background-color: #FFF;
    color: #030406;
}

a {
    color: #f58f91;
    text-decoration: none;
}

a:hover {
    opacity: .5;
}


p {
    width: 60%;
    padding: 0 20%;
}

h2 {
    padding: 0 15%;
}

h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR */
#nav_bar {
    background: #292929;
    color: #FFF;
    height: 52px;
}

#nav_bar img {
    height: 30px;
    padding: 10px;
    float: left;
}

#nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    float: right;
}

#nav_bar ul {
    margin: 0;
}

#nav_bar li #facebook {
    color: #fff;
}

#nav_bar li #facebook:hover {
    color: #337ab7;
    opacity: 1;
}

#nav_bar li #twitter {
    color: #fff;
}

#nav_bar li #twitter:hover {
    color: #55ACEE;
    opacity: 1;
}

#nav_bar li #instagram {
    color: #fff;
}

#nav_bar li #instagram:hover {
    color: #efc04a;
    opacity: 1;
}

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}

/* HERO IMAGE */
#heroimg {
    width: 100%;
    position: relative;
}

#heroimg img {
    width: 100%;
}

#arthed {
  color: #FFF;
  position: absolute;
  bottom: 50%;
  padding: 0;
  margin: 0;
  font-size: 150px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  text-shadow: 2px 2px 3px #000;
  -webkit-text-stroke: 4px #333434;
}


/* HEADLINE STYLES */
h1, h2, h3, h4 {
    margin-bottom: 1.2px;
}

.date {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -40px;
    margin-top: 75px;
}

.cutline {
    float: left;
    text-align: left;
    margin: 0;
    color: #000;
    font-size: 12px;
    width: 90%;
    padding: 0;
    padding-left: 10px;
}

.headline {
    text-align: center;
    font-family: 'Montserrat', Arial, sans-serif;
    /* font-family: "Playfair Display", Georgia, serif; */
    font-size: 25px;
    margin-top: 1.5px;
}

/* BYLINE */
.byline-info {
    text-align: center;
    display: block;
}

.byline-info p {
    color: #3d3d3d;
    display: inline-block;
    font-family: 'Montserrat', Arial, sans-serif;
    /* font-family: "Playfair Display", Georgia, serif; */
    font-size: 14px;
    text-align: center;
}

.byline-info p:last-of-type {
    margin-right: 0;
}

/* CONTENT */
p.intro {
    font-size: 22px;
}

.dropcap {
    font-weight: 700;
    float: left;
    font-size: 2.9em;
    line-height: .9em;
    padding-right: 5px;
}

/* GRID */
body {
  box-sizing: border-box;
  font-family: 'Montserrat';
  color: #292929;
}

a:hover {
  opacity: .6;
  width: auto;
}

h3 {
  display: grid;
  font-size: 1.5em;
  font-weight: bold;
  color: aliceblue;
}

h4 {
  display: grid;
  font-size: .75em;
  font-weight: normal;
  color: aliceblue;
}

#grid {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 4rem auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;
}

.link {
  display: block;
  width: 100%;
  text-align: center;
  background: #ffffff30;
  text-decoration: none;
  color: white;
  height: 500px;
  text-align: center;
  overflow: hidden;
}

.inner-content {
  justify-content: center;
  align-content: center;
  z-index: 0;
  text-shadow: 2px 2px #122620;
}

@media (min-width: 600px) {
  #grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  #grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid__item {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.grid__item:nth-child(odd) {
  height: auto;
  min-height: 280px;
}

@media (min-width: 600px) {
  .grid__item:nth-child(odd) {
    height: 280px;
  }
}

.grid__item:nth-child(even) {
  height: auto;
  min-height: 280px;
}

@media (min-width: 992px) {
  .grid__item:nth-child(even) {
    height: 440px;
    margin-top: -80px;
  }
}

.grid__item:nth-child(1) {
  background: url("https://w.wallhaven.cc/full/95/wallhaven-95mgm8.jpg") no-repeat center/cover;
}

.grid__item:nth-child(2) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/c87444b9-758b-41fc-8319-32c40cde609e.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(3) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/c2bb85f9-3b6b-4868-8566-57a9c8d55d26.sized-1000x1000.png") no-repeat center/cover;
}

.grid__item:nth-child(4) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/a58516ed-5842-4cab-ac78-385e7338e35e.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(5) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/bdb5b2bf-0112-428e-976f-5de231ddeeea.sized-1000x1000.png") no-repeat center/cover;
}

.grid__item:nth-child(6) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/0dc3fed9-549a-4990-9a24-8b9c8d356da7.sized-1000x1000.JPG") no-repeat center/cover;
}

.grid__item:nth-child(7) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/adbd92e0-677e-4d48-bd9a-4745b82bd9f5.sized-1000x1000.png") no-repeat center/cover;
}

.grid__item:nth-child(8) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/3595624a-6414-4cae-b3aa-e6782ba09cf9.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(9) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/b54f30d0-fb89-44a8-b97b-a4e2ca7bcbf3.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(10) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/b912b7cd-dcef-46f0-89e4-bfae06f95fbf.sized-1000x1000.JPG") no-repeat center/cover;
}

.grid__item:nth-child(11) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/611d0816-3b61-408c-8166-c1a7f3ca4820.sized-1000x1000.png") no-repeat center/cover;
}

.grid__item:nth-child(12) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/9ab0cecf-d3b8-4c3f-8a16-d86bf9112b82.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(13) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/99c68b6f-728b-4ff1-b332-926bbda35808.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(14) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/57715829-e866-4264-9503-d87f1bba24fc.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(15) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/f903cef5-0c09-4e2c-881c-674f280ebc6c.sized-1000x1000.png") no-repeat center/cover;
}

.grid__item:nth-child(16) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/a06b643b-3e80-43f9-ba16-6182b5ff3693.sized-1000x1000.JPG") no-repeat center/cover;
}

.grid__item:nth-child(17) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/1b0f832d-0de8-4054-a6a9-c2b3abd142e6.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(18) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/a41309a7-8311-4789-8be2-c210525b8d79.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(19) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/d649f048-1e2b-47f1-bff1-393ce94c8a8e.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(20) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/fa599d39-9faf-416c-a136-4f9a3b098a07.sized-1000x1000.JPG") no-repeat center/cover;
}
.grid__item:nth-child(21) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/3f31ea83-005d-4b61-817f-be33bbc90d45.sized-1000x1000.png") no-repeat center/cover;
}

.grid__item:nth-child(22) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/a5917295-8d82-459b-b7e0-73a35c968360.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(23) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/c990fb3b-895f-4b6e-9af8-edf57ccbbbb2.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(24) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/87fa1f1f-90fa-492a-a6b1-a74a4621d264.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(25) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/8aeb03d4-70fc-4817-ab5e-d53ed816b2ee.sized-1000x1000.png") no-repeat center/cover;
}

.grid__item:nth-child(26) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/377db86b-57c4-444b-a0bb-d8eda44be39b.sized-1000x1000.JPG") no-repeat center/cover;
}

.grid__item:nth-child(27) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/dbd430ae-8a27-4b91-8d8b-afb9536a3c20.sized-1000x1000.JPG") no-repeat center/cover;
}

.grid__item:nth-child(28) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/6bc776c7-84e2-48c5-97c9-d4295398bb8a.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(29) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/b54f30d0-fb89-44a8-b97b-a4e2ca7bcbf3.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(30) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/f15e4e5f-5c0e-4ba7-a763-7ff7e1b5c86f.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(31) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/fe84577d-ff4b-4f06-ac1f-0e57e247cf22.sized-1000x1000.png") no-repeat center/cover;
}

.grid__item:nth-child(32) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/ddbe11da-3dd8-4d76-bfcc-304757c83a25.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(33) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/2914240c-00aa-4b4f-9e8a-fa6427ea2c71.sized-1000x1000.png") no-repeat center/cover;
}

.grid__item:nth-child(34) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/27ece232-4d74-4480-bc09-002db816ba41.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(35) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/a3b9b97f-ede1-47f8-8716-32b3409c4807.sized-1000x1000.JPG") no-repeat center/cover;
}

.grid__item:nth-child(36) {
  background: url("https://w.wallhaven.cc/full/nm/wallhaven-nm8zvy.jpg") no-repeat center/cover;
}

.grid__item:nth-child(37) {
  background: url("https://w.wallhaven.cc/full/95/wallhaven-95mgm8.jpg") no-repeat center/cover;
}

.grid__item:nth-child(38) {
  background: url("https://w.wallhaven.cc/full/d5/wallhaven-d5pvql.jpg") no-repeat center/cover;
}

.grid__item:nth-child(39) {
  background: url("https://w.wallhaven.cc/full/d5/wallhaven-d5pkgm.jpg") no-repeat center/cover;
}

.grid__item:nth-child(40) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/9a652b8b-5e6b-4fd5-ba00-4a7dc6ef544a.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(41) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/bdb5b2bf-0112-428e-976f-5de231ddeeea.sized-1000x1000.png") no-repeat center/cover;
}

.grid__item:nth-child(42) {
  background: url("https://w.wallhaven.cc/full/lq/wallhaven-lqm2lr.jpg") no-repeat center/cover;
}

.grid__item:nth-child(43) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/adbd92e0-677e-4d48-bd9a-4745b82bd9f5.sized-1000x1000.png") no-repeat center/cover;
}

.grid__item:nth-child(44) {
  background: url("https://w.wallhaven.cc/full/yj/wallhaven-yjmkw7.jpg") no-repeat center/cover;
}

.grid__item:nth-child(45) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/b54f30d0-fb89-44a8-b97b-a4e2ca7bcbf3.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(46) {
  background: url("https://w.wallhaven.cc/full/nm/wallhaven-nm8zvy.jpg") no-repeat center/cover;
}

.grid__item:nth-child(47) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/57715829-e866-4264-9503-d87f1bba24fc.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(48) {
  background: url("https://w.wallhaven.cc/full/nm/wallhaven-nm8zvy.jpg") no-repeat center/cover;
}
.grid__item:nth-last-child(2) {
  height: auto;
  min-height: 280px;
}

@media (min-width: 600px) {
  .grid__item:nth-last-child(2) {
    height: 280px;
  }
}

@media (min-width: 992px) {
  .grid__item:nth-last-child(2) {
    height: 360px;
  }
}

.grid__item:nth-child(2) {
  height: auto;
  min-height: 280px;
}

@media (min-width: 600px) {
  .grid__item:nth-child(2) {
    height: 280px;
  }
}

@media (min-width: 992px) {
  .grid__item:nth-child(2) {
    height: 360px;
    margin-top: 0rem;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .grid__item:nth-child(4n+3), .grid__item:nth-child(4n+2) {
    height: 360px;
  }

  .grid__item:nth-child(4n+3) {
    margin-top: -80px;
  }

  .grid__item:last-child {
    grid-column: span 2;
  }
}

/* CREDITS */
.credits {
  margin: 1rem auto 0;
  max-width: 72%;
  padding-bottom: 2.4rem;
  text-align: left;
}
.creditText {
  display: inline-block;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  margin: 0 1rem 0rem 0;
}

.creditText a {
  color: #7ec4a0;
  font-weight: 700;
  cursor: pointer;
}

/* OTHER STUFF */
/* IMAGE BLOCKS */
.oneimg_center {
    width: 60%;
    padding: 0 20%;
}

/*Apply to a wrapping div*/
.oneimg_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 10px;
    float: right;
}

/*Apply to a wrapping div*/
.oneimg_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 20px;
    float: left;
}

/*add to p tag, should be before the pcut p tag*/
.oneimg_full p {
    width: 60%;
    padding: 0 20%;
}


.oneimg_full img, .oneimg_center img, .oneimg_right img, .oneimg_left img {
    width: 100%
}

.photog{
    float: right;
    text-align: right;
    margin:0;
    font-weight: 800;
    color: #000;
    font-size: 12px;
    width: 100%;
    padding: 0;
}

.pcut {
    float: right;
    text-align: left;
    margin: 0;
    font-weight: 100;
    color: #808080;
    font-size: 12px;
    width: 100%;
    padding: 0;
}

.subhed {
    font-family: montserrat, sans-serif;
    font-weight: 800;
    color: #7fc448;
}

/*apply to wrapping span tag*/
.title {
    color: #606060;
}

/* PULL QUOTES */
blockquote {
    padding: 0;
    margin: 5px;
}

/*add to wrapping div*/
.pq_center {
    width: 60%;
    padding: 0 20%;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #5379c4;
    font-weight: 800;
}

/*add to wrapping div*/
.pq_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 15px;
    float: right;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #5379c4;
}

/*add to wrapping div*/
.pq_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 0;
    float: left;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5379c4;
}

/*add to wrapping div*/
.attribution {
    font-size: 20px;
    text-transform: none;
    display: block;
    text-align: right;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
    padding: 0 5%;
    width: 90%;
}

/*----- Gallery Stuff -----*/
.gallery_bot {
    padding: 0;
    width: 20%;
    float: left;
}
.galleryPcut {
    float: right;
    text-align: left;
    margin: 0;
    font-weight: 100;
    color: #808080;
    font-size: 12px;
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
}

.w3-hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
}

.mySlides {
    display: none;
}


/* SPECIAL PROJECT FOOTER */
.footer {
    color: #FFF;
    font-family: 'Playfair Display';
    width: 100%;
    height: 200px;
    text-shadow: 2px 2px 5px #000;
    background-color: #292929;
    display: table;
}

.footer_inside {
    vertical-align: middle;
    display: table-cell;
}

.footer h2 {
    font-size: 40px;
    width: 70%;
    padding: 0 15%;
    margin: 0;
    line-height: 35px;
}

.footer p {
    font-family: 'Montserrat';
    margin: 0;
    width: 70%;
    padding: 10px 15% 0 15%;
}

.copyright {
  color: #FFF;
  font-family: 'Montserrat';
  width: 100%;
  height: 20px;
  text-shadow: 2px 2px 5px #000;
  background-color: #171717;
  display: table;
}

.copyright_inside {
  vertical-align: middle;
  display: table-cell;
}

.copyright p {
    font-family: 'Montserrat';
    margin: 0;
    width: 70%;
    padding: 13px 15% 15px 15%;
}

.btn-container {
  margin-left:20px;
}



.projects {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-weight: 100;

}

.projects:hover {
  background-color: white;
}

.join {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-weight: 100;

}

.join:hover {
  background-color: white;
}

/* MEDIA QUERIES */
@media screen and (max-width: 750px) {
  .column20center, p {
      width: 80%;
      padding: 0 10%;
  }

  #logo {
      height: 25px;
  }

  .date {
      padding: 0 10%;
      width: 80%;
  }

  #arthed {
      font-size: 60px;
      line-height: 60px;
  }
  .headline {
      width: 80%;
      padding: 0% 10% 0 10%;
      font-size: 25px;
  }

    .oneimg_right, .oneimg_left, .oneimg_center {
        width: 80%;
        padding: 0 10% 10px 10%;
    }

    .oneimg_full p {
        width: 80%;
        padding: 0 10%;
    }

    .pq_center, .pq_right, .pq_left {
        padding: 0 5%;
        width: 90%;
    }

    .subhed {
        padding: 0 10%;
    }

    .credits {
      max-width: 100%;
      text-align: left;
      margin-left: 50px;
    }

    .footer {
        height: 300px;
    }
}
