body {

}

#timeline {
    overflow: hidden;
    position: relative;
}

#vr_line {
    width: 1%;
    height: 2000px;
    background-color:#292929;
    float: left;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

#left {
    width: 50%;
    float: left;
    
}

#right {
    width: 50%;
    float: left;
}

.full_right {
    width: 95%;
    margin: 1% 3% 0 2%;
    position: relative;
}

.full_left {
    width: 95%;
    margin: 1% 2% 0 1%;
    float: right;
    position: relative;
}

.half_right {
    width: 70%;
    margin: 1% 3% 0 2%;
    position: relative;
}

.half_left {
    width: 70%;
    margin: 1% 2% 0 1%;
    float: right;
    position: relative;
}

.mid_left{
    width: 80%;
    margin: 1% 2% 0 1%;
    float: right;
    position: relative;
}

.mid_right {
    width: 80%;
    margin: 1% 1% 0 2%;
    position: relative;
}

div img{
    width: 100%;
}

.caption {
    background: #292929;
    background: -webkit-linear-gradient(rgba(41,41,41,0), rgba(41,41,41,1));
    background: -o-linear-gradient(rgba(41,41,41,0), rgba(41,41,41,1));
    background: -moz-linear-gradient(rgba(41,41,41,0), rgba(41,41,41,1));
    background: linear-gradient(rgba(41,41,41,0), rgba(41,41,41,1));
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}



.caption p {
    width: 90%;
    padding: 0 2% 0 8%;
    margin: 0;
    text-align: right;
}



.photographer {
    text-transform: uppercase;
    font-size: 14px;
}
<<<<<<< HEAD



















=======
>>>>>>> origin/master
