/* Template.css
This is a template for special projects at The Post.
Template originally coded by Taylor Johnston, digital managing editor at The Post.
Please contact at taylorfjohnston@gmail.com with questions.*/

/* GENERAL STYLES */
body {
    font-family: montserrat, sans-serif;
    background-color: #FFF;
    color: #030406;
}

a {
    color: #7fc448;
    text-decoration: none;
}

h2 {
    padding: 0 15%;
}

h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}


/* NAVIGATION BAR */
#nav_bar {
    background: #292929;
    color: #FFF;
    height: 52px;
}

#nav_bar img {
    height: 30px;
    padding: 10px;
    float: left;
}

#nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    float: right;
}

#nav_bar ul {
    margin: 0;
}

#nav_bar li #facebook {
    color: #fff;
}

#nav_bar li #facebook:hover {
    color: #337ab7;
    opacity: 1;
}

#nav_bar li #twitter {
    color: #fff;
}

#nav_bar li #twitter:hover {
    color: #55ACEE;
    opacity: 1;
}

#nav_bar li #instagram {
    color: #fff;
}

#nav_bar li #instagram:hover {
    color: #efc04a;
    opacity: 1;
}

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}

/* HERO IMAGE */
#heroimg {
    width: 100%;
    position: relative;
}

#heroimg img {
    width: 100%;
    height: 300px;
}

/* HEADLINE STYLES */
h1,
h2,
h3,
h4 {
    margin-bottom: 1.2px;
}

.date {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -40px;
    margin-top: 75px;
}

/* CONTENT */



#desktop {
    display: flex;
    width: 100%;
    height: 2000px;
}

#mobile {
    display: none;
}

.left {
    width: 50%;
    float: left;
    border-right: 8px dotted #3d3d3d;
}

.right {
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#toggle li.updates:hover {
    text-shadow: 1px 2px 15px #5c89ff;
}

#toggle li.updates {
    text-shadow: 1px 2px 15px #000;
}

#toggle li.articles:hover {
    text-shadow: 1px 2px 15px #ba1701;
}

.updates-cont {
    filter: none;
}

/* RESULTS */
.results_cont {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    margin-bottom: 20px;
    border-bottom: 8px dotted #3d3d3d;
    background-color: #fff;
    padding: 20px 50px 40px 50px;
}

.dem {
    margin: 20px 0px 0px 5px;
}

span.numberD {
    background-color: blue;
    color: #fff;
    padding: 5px 300px 5px 10px;

}

span.numberR {
    background-color: red;
    color: #fff;
    padding: 5px 225px 5px 10px;
}




/* TWITTER TIMELINE */
.twitter_cont {
    overflow: scroll;
    width: 80%;
    margin: 0px 0px 80px 0px;
}

.twitter_cont h1 {
    text-align: center;
}

.twitter-follow-button {
    margin: 0px 0px 10px 0px;
}




/*apply to wrapping span tag*/
.title {
    color: #606060;
}

/*add to wrapping div*/
.attribution {
    font-size: 20px;
    text-transform: none;
    display: block;
    text-align: right;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
    padding: 0 5%;
    width: 90%;
}



/* SPECIAL PROJECT FOOTER */
.footer {
    color: #FFF;
    font-family: 'Playfair Display';
    width: 100%;
    height: 200px;
    text-shadow: 2px 2px 5px #000;
    background-color: #292929;
    display: table;
}

.footer_inside {
    vertical-align: middle;
    display: table-cell;
}

a.end {
    color: #fff;
}

.footer h2 {
    font-size: 40px;
    width: 70%;
    padding: 0 15%;
    margin: 0;
    line-height: 35px;
}

.footer p {
    font-family: 'Montserrat';
    margin: 0;
    width: 70%;
    padding: 10px 15% 0 15%;
}

.copyright {
    color: #FFF;
    font-family: 'Montserrat';
    width: 100%;
    height: 20px;
    text-shadow: 2px 2px 5px #000;
    background-color: #171717;
    display: table;
}

.copyright_inside {
    vertical-align: middle;
    display: table-cell;
}

.copyright p {
    font-family: 'Montserrat';
    margin: 0;
    width: 70%;
    padding: 13px 15% 15px 15%;
}

.btn-container {
    margin-left: 20px;
}

.projects {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.projects:hover {
    background-color: white;
}

.join {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.join:hover {
    background-color: white;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1050px) {

    .results_cont h2 {
        font-size: 20px;
        text-align: center;
        padding: 0 5px;
    }

    span.numberD {
        padding: 5px 150px 5px 10px;

    }

    span.numberR {
        padding: 5px 125px 5px 10px;
    }
}

@media screen and (max-width: 870px) {
    h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 750px) {

    #logo {
        height: 25px;
    }

    #desktop {
        display: none;
    }

    #mobile {
        display: visible;
        display: flex;
        flex-direction: column;
    }

    /* MOBILE RESULTS */
    .results_cont {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        border-bottom: 8px dotted #3d3d3d;
        background-color: #fff;
        align-items: left;
        padding: 20px 20% 60px 20%;
    }

    .results_cont h2 {
        font-size: 24px;
    }

    .dem {
        margin: 20px 0px 0px 5px;
    }

    span.numberD {
        background-color: blue;
        color: #fff;
        padding: 5px 300px 5px 10px;

    }

    span.numberR {
        background-color: red;
        color: #fff;
        padding: 5px 225px 5px 10px;
    }


    /* MOBILE TWITTER TIMELINE */
    .timeline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .twitter_cont {
        width: 70%;
        max-height: 500px;
    }

    .footer {
        height: 300px;
    }
}

@media screen and (max-width: 720px) {

    span.numberD {
        padding: 5px 250px 5px 10px;
        transition: ease-in-out .5s;
    }

    span.numberR {
        padding: 5px 200px 5px 10px;
        transition: ease-in-out .5s;
    }
}

@media screen and (max-width: 650px) {
    span.numberD {
        background-color: blue;
        color: #fff;
        padding: 5px 150px 5px 10px;
        transition: ease-in-out .5s;
    }

    span.numberR {
        background-color: red;
        color: #fff;
        padding: 5px 125px 5px 10px;
        transition: ease-in-out .5s;
    }
}
