/* Template.css
This is a template for special projects at The Post.
Template originally coded by Taylor Johnston, digital managing editor at The Post.
Please contact at taylorfjohnston@gmail.com with questions.*/

/* GENERAL STYLES */
body {
    font-family: montserrat, sans-serif;
    background-color: #fff;
    color: #030406;

}

a {
    color: #fff;
    text-decoration: none;
}

/* NAVIGATION BAR */
#nav_bar {
    background: #292929;
    color: #FFF;
    height: 52px;
}

#nav_bar img {
    height: 30px;
    padding: 10px;
    float: left;
}

#nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    float: right;
}

#nav_bar ul {
    margin: 0;
}

#nav_bar li #facebook {
    color: #fff;
}

#nav_bar li #facebook:hover {
    color: #337ab7;
    opacity: 1;
}

#nav_bar li #twitter {
    color: #fff;
}

#nav_bar li #twitter:hover {
    color: #55ACEE;
    opacity: 1;
}

#nav_bar li #instagram {
    color: #fff;
}

#nav_bar li #instagram:hover {
    color: #efc04a;
    opacity: 1;
}

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}

/* GOOGLE ADS */
.googleAD {
    width: 60%;
    margin: 0 20%;
    background-color: rgb(233, 233, 233);
}

.adsbygoogle {
    background: rgba(0, 89, 255, 0.164);
    display:block;
    width:100%;
    height:5em; 
    margin: 0;
}



/* CONTENT */
.contentCont {
    width: 100%;
    padding: 0;
    padding-top: 3em;
    display: flex;
}

/* LEFT COLUMN //////////////////////////*/
.insideLeft {
    padding: 0 4%;
}

/* SLIDESHOWS */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1em;
    width: 2em;
    text-align: center;
    margin-top: -1em;
    padding: auto 1em;
    height: 95%;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background: linear-gradient(0deg, rgba(0,0,0,0) 12%, rgba(0,0,0,0.6026785714285714) 20%);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 1rem;
    padding: 0.6em;
    position: absolute;
    bottom: 0em;
    width: 100%;
    text-align: left;
    background: linear-gradient(0deg, rgba(0,0,0,0.6895133053221288) 47%, rgba(0,0,0,0.09287464985994398) 100%);
}

.text a {
    font-weight: 700;
    text-decoration: underline;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    background-color: #00000085;
    font-size: 1rem;
    font-weight: 900;
    padding: 0.6em;
    position: absolute;
    top: 0;
    z-index: 1;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .8}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .8}
    to {opacity: 1}
}


/* SUBHEDS */
h2 {
    width: 100%;
    margin: 0.5em auto;
}

.subhed {
    background-color: #292929;
    color: #fff;
    font-size: 2rem;
    padding: 0.5em;
    font-weight: 900;
    margin-top: 1.5em;
}

.memoHed {
    margin-bottom: 0;
}

.memoCont {
    max-height: 90vh;
    width: 100%;
    margin: 0 auto;
    overflow-y: scroll;
}

p {
    margin: 0 auto 1em;
}

.date {
    background-color: #3d3d3d;
    color: #fff;
    padding: 0.5em;
    font-weight: 700;
}

.signature {
    font-size: 1.5rem;
    margin: -0.6em auto 1.5em;
    font-family: 'Lobster', cursive;
}

iframe.postBlog {
    width: 100%;
    margin-bottom: 10em;
    min-height: 80vh;
}


/* RIGHT COLUMN */
.insideRight {
    min-width: 30%;
    margin-right: 5%;
}

h3 {
    width: 100%;
    /* font-size: 2.25rem; */
    font-size: clamp(1.5rem, 2vw, 2.25rem);
    text-align: center;
    margin: 0;
    -webkit-text-stroke: 2px;
}

h3 a,
h4 a {
    cursor: pointer;
    text-decoration: underline;
}

h3 a:hover,
h4 a:hover {
    filter: saturate(3);
}

h4 {
    font-size: 1.5rem;
    margin: 1em 0 -0.2em;
}

.s-bubble {
    color: #3d3d3d;
    position: relative;
    border-radius: 40px;
    font-weight: 900;
    text-align: center;
    padding: 1em 0;
    margin: 0 10% 1.5em 0;
    min-width: 100%;
}

.s-bubble p {
    width: 90%;
    font-size: clamp(1rem, 2vw, 1.25rem);
    margin: 0 auto;
}

.sidebar1{
    border: 0.5em solid #44ac4e;
}

.sidebar1 h3 {
    color: #44ac4e;
}

.sidebar2{
    border: 0.5em solid #efb261;
}

.sidebar2 h3 {
    color: #efb261;
}

.sidebar3 {
    border: 0.5em solid #49638e;
}

.sidebar3 h3 {
    color: #49638e;
}

.sidebar4 {
    border: 0.5em solid #d0605b;
}

.sidebar4 h3 {
    color: #d0605b;
}

.sidebar5 {
    background-color: #3d3d3d;
    padding: 2em;
    color: #fff;
}

.sidebar5 a {
    color: #9d96c9
}

.sidebar5:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top-color: #3d3d3d;
    border-bottom: 0;
    margin-left: -25px;
    margin-bottom: -25px;
}

p.snapcode {
    position: absolute;
    margin-left: 137px;
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.handle-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div.handle-div {
    margin: 50px auto;
}

.circle-button {
    font-family: 'Roboto', sans-serif;
    color: #3d3d3d;
    display: inline-block;
    font-size: 2rem;
    border-radius: 50%;
    transition: all 0.2s ease;
    height: 80px;
}

.fa-twitter,
.fa-instagram,
.fa-youtube,
.fa-snapchat-ghost,
.fa-facebook,
.fa-tiktok {
    padding: 5px;
}

.iconify {
    width: 70px;
    height: 64px;
    margin: 5px 10px 30px 10px;
}

.circle-button:hover {
    animation: circle-anim 0.3s ease forwards;
    transition: all 0.4s ease;
}

.grow-container {
    display: inline-block;
    margin: 1em;
}

.fa-fw {
    width: 1.25em;
    text-align: center;
}

.flat-under a:hover {
    opacity: 100%;
    color: #fff;
}

div.flat-under.handle-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.to-insta:hover {
    background: #c32aa3;
}

.to-twitter:hover {
    background: #1DA1F3;
}

.to-youtube:hover {
    background: #ff0000;
}

.to-snapchat:hover {
    background: #ffe101;
}

.to-facebook:hover {
    background: #4b76d1;
}

.to-tiktok:hover {
    background: #ee1d52;
}

@keyframes circle-anim {
    0% {}

    90% {
        padding: 0.35em;
        margin: -0.35em;
    }

    100% {
        padding: 0.25em;
        margin: -0.25em;
    }
}





/* CREDITS */
.credits {
    margin: 1rem auto 0;
    max-width: 60%;
    padding-bottom: 2.4rem;
    text-align: left
}

.creditText {
    display: inline-block;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 0.8rem;
    margin: 0 1rem 0rem 0;
    text-transform: capitalize;
}

.creditText a {
    color: #7fc448;
    font-weight: 700;
    cursor: pointer;
}

.creditText a:hover {
    color: none;
}

/* OTHER STUFF */
/* IMAGE BLOCKS */
.oneimg_center {
    width: 60%;
    padding: 0 20%;
}

/*Apply to a wrapping div*/
.oneimg_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 10px;
    float: right;
}

/*Apply to a wrapping div*/
.oneimg_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 20px;
    float: left;
}

/*apply to wrapping span tag*/
.title {
    color: #606060;
}

/*YOUTUBE EMBED*/


iframe.yt-vid {
    width: 100%;
    height: 100%;
}

.yt_center {
    width: 60%;
    height: 515px;
    padding: 0 20%;
}

.yt_right {
    width: 40%;
    margin-right: 10%;
    padding-left: 10px;
    padding-bottom: 10px;
    float: right;
    height: 415px;
}

.yt_left {
    width: 40%;
    margin-left: 10%;
    padding-right: 20px;
    padding-bottom: 10px;
    float: left;
    height: 415px;
}

/*add to wrapping div*/
.attribution {
    font-size: 20px;
    text-transform: none;
    display: block;
    text-align: right;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
    padding: 0 5%;
    width: 90%;
}


/* SPECIAL PROJECT FOOTER */
.footer {
    color: #FFF;
    font-family: 'Playfair Display';
    width: 100%;
    height: 200px;
    text-shadow: 2px 2px 5px #000;
    background-color: #292929;
    display: table;
}

.footer_inside {
    vertical-align: middle;
    display: table-cell;
}

a.end {
    color: #fff;
}

.footer h2 {
    font-size: 2rem;
    width: 70%;
    padding: 0 15%;
    margin: 0;
    line-height: 35px;
}

.footer p {
    font-family: 'Montserrat';
    margin: 0;
    width: 70%;
    padding: 10px 15% 0 15%;
}

.copyright {
    color: #FFF;
    font-family: 'Montserrat';
    width: 100%;
    height: 20px;
    text-shadow: 2px 2px 5px #000;
    background-color: #171717;
    display: table;
}

.copyright_inside {
    vertical-align: middle;
    display: table-cell;
}

.copyright p {
    font-family: 'Montserrat';
    margin: 0;
    width: 70%;
    padding: 13px 15% 15px 15%;
}

.btn-container {
    margin-left: 20px;
}

.projects {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.projects:hover {
    background-color: white;
}

.join {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.join:hover {
    background-color: white;
}

#mobile {
    display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1080px) {

    .yt_center,
    .yt_right,
    .yt_left {
        height: 315px;
    }
    
    #socials-content {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {

    #logo {
        height: 25px;
    }

    .googleAD {
        width: 80%;
        margin: 0 10%;
    }

    .contentCont {
        width: 100%;
        padding: 0;
        padding-top: 3em;
        flex-direction: column;
    }

    .slideTitle {
        font-size: 1.25rem;
    }

    .memoCont {
        max-height: 60vh;
    }

    .s-bubble {
        border-radius: 30px;
        min-width: 90%;
        margin: 0 5% 1.5em;
    }

    h3 {
        font-size: 2rem;
        -webkit-text-stroke: 1px;
    }

    .yt_center {
        width: 80%;
        padding: 0 10%;
    }

    .yt_right {
        height: 265px;
    }

    .credits {
        max-width: 100%;
        text-align: left;
        margin-left: 50px;
    }

    .footer {
        height: 300px;
    }
}

@media screen and (max-width: 720px) {
    .yt_right {
        height: 215px;
    }

    .yt_left {
        height: 215px;
    }
}

@media screen and (max-width: 595px) {
    
}

@media screen and (max-width: 500px) {
    .yt_right {
        width: 80%;
        padding: 0 10%;
        margin: 0;
        float: none;
        height: 230px;
    }

    .yt_left {
        width: 80%;
        padding: 0 10%;
        margin: 0;
        float: none;
        height: 230px;
    }

}

@media screen and (max-width: 400px) {
}
