html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu717-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 21px;
}

#u717-4
{
	z-index: 6;
	margin-left: 1px;
	position: relative;
}

#u717-4_img
{
	display: block;
	vertical-align: top;
}

#u718
{
	z-index: 10;
	width: 307px;
	height: 460px;
	margin-top: 27px;
	position: relative;
	background: transparent url("../images/fromtheeditosdesk-u718-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u718:hover
{
	margin: 27px 0px 0px;
	background: transparent url("../images/fromtheeditosdesk-u718-r-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u718.MuseLinkActive
{
	margin: 27px 0px 0px;
	background: transparent url("../images/fromtheeditosdesk-u718-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#pu716-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 328px;
}

#u716-4
{
	z-index: 2;
	width: 293px;
	min-height: 36px;
	text-align: center;
	font-size: 48px;
	font-family: bree-serif, sans-serif;
	font-weight: 400;
	margin-left: 6px;
	position: relative;
}

#u742
{
	z-index: 12;
	width: 307px;
	height: 460px;
	margin-top: 17px;
	position: relative;
	background: transparent url("../images/seniorcitizen-u742-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u742:hover
{
	margin: 17px 0px 0px;
	background: transparent url("../images/seniorcitizen-u742-r-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u742.MuseLinkActive
{
	margin: 17px 0px 0px;
	background: transparent url("../images/seniorcitizen-u742-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u730
{
	z-index: 11;
	width: 307px;
	height: 460px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 634px;
	background: transparent url("../images/bios-u730-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u730:hover
{
	margin: 94px -10000px 0px 0px;
	background: transparent url("../images/bios-u730-r-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u730.MuseLinkActive
{
	margin: 94px -10000px 0px 0px;
	background: transparent url("../images/bios-u730-fr.png") no-repeat left top;
	background-size: contain !important;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

