/* Template.css
This is a template for special projects at The Post.
Template originally coded by Seth Archer, digital managing editor at The Post.
Please contact at SethPArcher@gmail.com with questions.*/

/*----- Global Styles -----*/

body {
    font-family: montserrat, sans-serif;
    background-color: #1a0f34;
    color: #030406;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    opacity: .6;
}

p {
    width: 60%;
    padding: 0 20%;
}/*these have a style simmilar to column20center, do not add column20center to p tags*/

h2 {
    padding: 0 15%;
}

h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: white;
}

.neon {
    animation: flicker 3s infinite;
}

@keyframes flicker {
  
    50% {text-shadow: 0px 0px 50px orange;}
  
}
/*-----Column stuff-----*/

.column20center {
    width: 60%;
    padding: 0 20%;
}/*do not apply to p tags, they automatically have a simmilar styling*/

.column10center {
    width: 80%;
    padding: 0 10%;
}

.column10left {
    width: 40%;
    padding-left: 10%;
}

.column10right {
    width: 40%;
    padding-right: 10%;
}

/*----- Nav Bar -----*/
/*we don't use this section as often. delete if not used in the project*/

#nav_bar {
    background: #030406;
    color: #FFF;
    height: 50px;
}

#nav_bar img {
    height: 30px;
    padding: 10px;
    float: left;
}

#nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    float: right;
}

#nav_bar ul {
    margin: 0;
}

/*----- Hero Image -----*/

#heroimg {
    width: 100%;
    position: relative;
}/*apply to wrapping div with an img tag within*/

#heroimg img {
    width: 100%;
}

#the {
 color: #FFF;
    position: absolute;
    bottom: 65%;
    padding: 0;
    margin: 0;
    font-size: 4vw;
    font-weight: 700;
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 3px #000;
    font-family: montserrat;   
}

#halloween {
    color: #FFF;
    position: absolute;
    bottom: 20%;
    padding: 0;
    margin: 0;
    font-size: 15vw;
    font-weight: 700;
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 3px #000;
    font-family: Creepster, montserrat;
}
    
    #edition {
    color: #FFF;
    position: absolute;
    bottom: 15%;
    padding: 0;
    margin: 0;
    font-size: 4vw;
    font-weight: 700;
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 3px #000;
    font-family: montserrat;
    }
}/*apply to h1 within the heroimg div*/

/*---- Landing Page Stuff ----*/

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.wrapper>div {
	padding: 7em;
	color: white;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	grid-auto-rows: minmax(100px, auto);
}

.one {
	grid-column: 1;
	grid-row: 1;
	background-image: url('http://via.placeholder.com/350x150');
	position: relative;
    background-size: cover;
    border: 5px solid orange;

}

.one span {
    position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.two {
	grid-column: 2;
	grid-row: 1;
	background-image: url('http://via.placeholder.com/350x150');
    position: relative;
    background-size: cover;
    border: 5px solid orange;

}

.two span {
    text-shadow: 2px 2px black;
}

.three {
	grid-column: 3;
	grid-row: 1;
	background-image: url('http://via.placeholder.com/350x150');
    position: relative;
    background-size: cover;
    border: 5px solid orange;
    
}

.three span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}
.four {
	grid-column: 1;
	grid-row: 2;
	background-image: url('http://via.placeholder.com/350x150');
	position: relative;
    background-size: cover;
    border: 5px solid orange;

}

.four span {
	position: absolute;
	bottom: 2px;
	left: 5px;
    text-shadow: 2px 2px black;
}

.five {
	grid-column: 2;
	grid-row: 2;
	background-image: url('http://via.placeholder.com/350x150');
    position: relative;
    background-size: cover;
    border: 5px solid orange;

}

.five span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.six {
	grid-column: 3;
	grid-row: 2;
	background-image: url('http://via.placeholder.com/350x150');
    position: relative;
    background-size: cover;
    border: 5px solid orange;
    
}

.six span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}


/*HOVER*/
.one:hover {
	opacity: .6;
}

.two:hover {
	opacity: .6;
}

.three:hover {
	opacity: .6;
}

.four:hover {
	opacity: .6;
}

.five:hover {
	opacity: .6;
}

.six:hover {
	opacity: .6;
}

/*
.eight:hover {
	opacity: .6;
}

.nine:hover {
	opacity: .6;
}

.ten:hover {
	opacity: .6;
}

.eleven:hover {
	opacity: .6;
}

.twelve:hover {
	opacity: .6;
}

.thirteen:hover {
	opacity: .6;
}

.fourteen:hover {
	opacity: .6;
}

.fifteen:hover {
	opacity: .6;
}
*/

@media only screen and (max-width: 768px) {
	.wrapper {
		display: block;
	}
	.margin-bot {
		margin-bottom: 2px;
	}
    
}

/*----- Gallery Stuff -----*/

.gallery_bot {
    padding: 0;
    width: 20%;
    float: left;
}

.w3-hover-shadow:hover {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important
}

.mySlides {
    display:none;
}

/*----- Other -----*/

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}/*effects the post logo in the top left of the page*/

/* Landing page clicky box at bottom.*/

.story {
    color: #FFF;
    font-family: playfair display;
    width: 100%;
    height: 200px;
    text-shadow: 2px 2px 5px #000;
    background-color: #292929;
    display: table;
}

.story_inside{
    vertical-align: middle;
    display: table-cell;
}

.story h2{
    font-size: 40px;
    width: 70%;
    padding: 0 15%;
    margin: 0;
    line-height: 35px;
}

.story p{
    font-family: montserrat;
    margin: 0;
    width: 70%;
    padding: 10px 15% 0 15%;
}

@media screen and (max-width: 750px){
    
    .oneimg_right, .oneimg_left, .oneimg_center {
        width: 80%;
        padding: 0 10% 10px 10%;
    }
    
    .oneimg_full p {
        width: 80%;
        padding: 0 10%;
    }
    
    .pq_center, .pq_right, .pq_left {
        padding: 0 5%;
        width: 90%;
    }
    
    .column20center, p {
        width: 80%;
        padding: 0 10%;
    }
    
    .subhed{
        padding: 0 10%;
    }
    
    .credit{
        padding-bottom: 20px;
    }
    
    #logo {
        height: 25px;
    }

    .headline {
        width: 80%;
        padding: 0% 10% 0 10%;
        font-size: 25px;
    }
    
    .date {
        padding: 0 10%;
        width: 80%;
    }
    
    #banner {
        font-size: 50px;
    }
    
    .story {
        height: 300px;
    }
  
}
