/* GENERAL STYLES */
body {
    font-family: montserrat, sans-serif;
    background-color: #FFF;
    color: #030406;
}

.landing-pg {
    background: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

/* NAVIGATION BAR */
#nav_bar {
    background: #292929;
    color: #FFF;
    height: 52px;
}

#nav_bar img {
    height: 30px;
    padding: 10px;
    float: left;
}

#nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    float: right;
}

#nav_bar ul {
    margin: 0;
}

#nav_bar li #facebook {
    color: #fff;
}

#nav_bar li #facebook:hover {
    color: #337ab7;
    opacity: 1;
}

#nav_bar li #twitter {
    color: #fff;
}

#nav_bar li #twitter:hover {
    color: #55ACEE;
    opacity: 1;
}

#nav_bar li #instagram {
    color: #fff;
}

#nav_bar li #instagram:hover {
    color: #efc04a;
    opacity: 1;
}

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}

/* HERO IMAGE */
#heroimg {
    width: 100%;
    position: relative;
}

#heroimg img {
    width: 100%;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
}

.cutline {
    float: left;
    text-align: left;
    margin: 0;
    color: #000;
    font-size: 12px;
    width: 90%;
    padding: 0;
    padding-left: 10px;
}

/* CONTENT */
.landing-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

/* TIMELINE */
.split {
    width: 45%;
    margin: 0 5%;
    padding: 20px 0;
}

.split1 {
    float: right;
    border-left: 1px solid black;
}

.split2 {
    float: left;
    border-right: 1px solid black;
    
}

article {
    width: 80%;
    padding: 10px 30px;
}




.bubble {
    position: relative;
    background: rgba(0, 0, 0, .1);
    border-radius: 30px;
}

.bubble1 {
    float: right;
}

.bubble1:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-right-color: rgba(0, 0, 0, .1);
    border-left: 0;
    margin-top: -23px;
    margin-left: -25px;
}

.bubble2 {
    float: left;
}

.bubble2:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 23px solid transparent;
    border-left-color: rgba(0, 0, 0, .1);
    border-right: 0;
    margin-top: -23px;
    margin-right: -23px;
}

p.blurby {
    margin: 0 15%;
    
}

.transition img {
    width: 100%;
}

.pq-feature {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pq_center {
    padding: 5% 18%;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #5379c4;
    font-weight: 800;
}



/* CREDITS */
.credits {
    margin: 1rem auto 0;
    max-width: 60%;
    padding-bottom: 2.4rem;
    text-align: left
}

.creditText {
    display: inline-block;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    margin: 0 1rem 0rem 0;
}

.creditText a {
    color: #c7002b;
    font-weight: 700;
    cursor: pointer;
}

/* SPECIAL PROJECT FOOTER */
.story {
    color: #FFF;
    font-family: playfair display;
    width: 100%;
    height: 200px;
    text-shadow: 2px 2px 5px #000;
    background-color: #292929;
    display: table;
}

.story_inside {
    vertical-align: middle;
    display: table-cell;
}

.story h2 {
    font-size: 40px;
    width: 70%;
    padding: 0 15%;
    margin: 0;
    line-height: 35px;
}

.story p {
    font-family: montserrat;
    margin: 0;
    width: 70%;
    padding: 10px 15% 0 15%;
}


.footer {
    color: #FFF;
    font-family: 'Playfair Display';
    width: 100%;
    height: 200px;
    text-shadow: 2px 2px 5px #000;
    background-color: #292929;
    display: table;
}

.footer_inside {
    vertical-align: middle;
    display: table-cell;
}

.footer h2 {
    font-size: 40px;
    width: 70%;
    padding: 0 15%;
    margin: 0;
    line-height: 35px;
}

.footer p {
    font-family: 'Montserrat';
    margin: 0;
    width: 70%;
    padding: 10px 15% 0 15%;
}

.copyright {
    color: #FFF;
    font-family: 'Montserrat';
    width: 100%;
    height: 20px;
    text-shadow: 2px 2px 5px #000;
    background-color: #171717;
    display: table;
}

.copyright_inside {
    vertical-align: middle;
    display: table-cell;
}

.copyright p {
    font-family: 'Montserrat';
    margin: 0;
    width: 70%;
    padding: 13px 15% 15px 15%;
}

.btn-container {
    margin-left: 20px;
}



.projects {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.projects:hover {
    background-color: white;
}

.join {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.join:hover {
    background-color: white;
}



@media screen and (max-width: 750px) {

    #logo {
        height: 25px;
    }

    .credits {
        max-width: 100%;
        text-align: left;
        margin-left: 50px;
    }

    .footer {
        height: 300px;
    }

    .copyright {
        text-align: center;
    }
}
