.horizontal_timeline .heels_image {
    position: relative;
} 

.horizontal_timeline .heels_image li {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    opacity: 0;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}

.horizontal_timeline .heels_image li.selected {
    position: relative;
    z-index: 2;
    opacity: 1;
    transform: translateX(0);
} 

.horizontal_timeline .heels_image li.enter-right, .horizontal_timeline .heels_image li.leave-right {
    animation-name: cd-enter-right;
    
}

.horizontal_timeline .heels_image li.enter-left, horizontal_timeline .heels_image li.leave-left {
    animation-name: cd-enter-left;
}

.horizontal_timeline .heels_image li.leave-right, horizontal_timeline .heels_image li.leave-left {
    animation-direction: reverse;
}

@keyframes cd-enter-right {
    0% {
        opacity: 0;
        transform: translateX(100%)
    };
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes cd-enter-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
        
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}







