html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 613px;
	min-height: 418px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 62px 21px;
}

#pu435-4
{
	width: 0.01px;
	margin-left: 1px;
	position: relative;
}

#u435-4
{
	z-index: 9;
	position: relative;
	width: 114px;
	margin-right: -10000px;
	margin-top: 23px;
}

#u435-4_img
{
	display: block;
	vertical-align: top;
}

#u434-4
{
	z-index: 5;
	width: 293px;
	min-height: 36px;
	text-align: center;
	font-size: 48px;
	font-family: bree-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 159px;
}

#pu455
{
	width: 0.01px;
	margin-top: 41px;
	position: relative;
}

#u455
{
	z-index: 3;
	width: 207px;
	height: 138px;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 405px;
	background: transparent url("../images/tapride-u455-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u455:hover
{
	margin: 135px -10000px 0px 0px;
	background: transparent url("../images/tapride-u455-r-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u455.MuseLinkActive
{
	margin: 135px -10000px 0px 0px;
	background: transparent url("../images/tapride-u455-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u443
{
	z-index: 13;
	width: 204px;
	height: 136px;
	position: relative;
	margin-right: -10000px;
	left: 408px;
	background: transparent url("../images/artsforohio-u443-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u443:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/artsforohio-u443-r-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u443.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/artsforohio-u443-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u479
{
	z-index: 15;
	width: 408px;
	height: 272px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fire-u479-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u479:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/fire-u479-r-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u479.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/fire-u479-fr.png") no-repeat left top;
	background-size: contain !important;
}

#pu491
{
	width: 0.01px;
	margin-left: 1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u491
{
	z-index: 2;
	width: 408px;
	height: 272px;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 203px;
	background: transparent url("../images/thingstobringtocollege-u491-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u491:hover
{
	margin: 137px -10000px 0px 0px;
	background: transparent url("../images/thingstobringtocollege-u491-r-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u491.MuseLinkActive
{
	margin: 137px -10000px 0px 0px;
	background: transparent url("../images/thingstobringtocollege-u491-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u515
{
	z-index: 4;
	width: 207px;
	height: 138px;
	position: relative;
	margin-right: -10000px;
	left: 406px;
	background: transparent url("../images/feelingathome-u515-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u515:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/feelingathome-u515-r-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u515.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/feelingathome-u515-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u467
{
	z-index: 14;
	width: 205px;
	height: 137px;
	position: relative;
	margin-right: -10000px;
	left: 202px;
	background: transparent url("../images/finance-u467-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u467:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/finance-u467-r-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u467.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/finance-u467-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u503
{
	z-index: 16;
	width: 204px;
	height: 277px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/favoriteplaces-u503-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u503:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/favoriteplaces-u503-r-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u503.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/favoriteplaces-u503-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u527
{
	z-index: 17;
	width: 204px;
	height: 136px;
	position: relative;
	margin-right: -10000px;
	margin-top: 272px;
	background: transparent url("../images/delivery-u527-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u527:hover
{
	margin: 272px -10000px 0px 0px;
	background: transparent url("../images/delivery-u527-r-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u527.MuseLinkActive
{
	margin: 272px -10000px 0px 0px;
	background: transparent url("../images/delivery-u527-fr.png") no-repeat left top;
	background-size: contain !important;
}

#pu539
{
	width: 0.01px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u539
{
	z-index: 18;
	width: 205px;
	height: 136px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fests-u539-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u539:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/fests-u539-r-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u539.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/fests-u539-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u551
{
	z-index: 19;
	width: 205px;
	height: 137px;
	position: relative;
	margin-right: -10000px;
	left: 204px;
	background: transparent url("../images/shortcuts-u551-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u551:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/shortcuts-u551-r-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u551.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/shortcuts-u551-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u668
{
	z-index: 20;
	width: 204px;
	height: 136px;
	position: relative;
	margin-right: -10000px;
	left: 408px;
	background: transparent url("../images/dormroom-u668-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u668:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/dormroom-u668-r-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u668.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/dormroom-u668-fr.png") no-repeat left top;
	background-size: contain !important;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

