body {
    background-color: #000;
    max-width: 625px;
    margin: 0;
    padding: 0;
}

.portrait {
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    height: 250px;
    background-size: cover;
}

.twowide {
    width: 66%;
}

.onewide {
    width: 33%;
}

.portrait:hover .background{
    opacity: .6;
    transition: opacity .3s ease;
}

.background{
    background-size:cover;
    height:100%;

}

h1 {
    font-family: montserrat;
    font-size: 200%;
    color: #FFF;
    padding: 7px;
    text-shadow: 2px 2px #000;
    margin-bottom: -5px;
}

#headertext {
    text-shadow: 0 0;
    color: #FFF;
    font-size: 207%;
    margin-top:0px;
}

p{
    font-family: montserrat;
    font-size: 100%;
    color: #FFF;
    font-weight: 400;
    padding: 10px 7px 0 7px;
    margin: 0;
}

.name{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.smallcaps h1{
    font-size: 127%;
}

#header {
    width: 66%;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}

.post{
    left:15%;
    bottom: 35%;
}

.post p{
    margin: 0;
    padding: 0;
    font-size:130%;
    font-weight: 700;
}

.post h1{
    margin: 0;
    padding: 0;
    font-size:350%;
    line-height:75%;
    font-weight: 700;
    text-shadow: 0 0;
}

/*---All the photos are below--*/

#one {
    background-image: url(images/one.jpg);
    background-position: center;
}

#two {
    background-image: url(images/two.jpg);
    background-position: bottom;
}

#three {
    background-image: url(images/three.jpg);
    background-position: center;
}

#four {
    background-image: url(images/four.jpg);
}

#five {
    background-image: url(images/five.jpg);
}

#six {
    background-image: url(images/six.jpg);
    background-position: center;
}

#seven {
    background-image: url(images/seven.jpg);
}

#eight {
    background-image: url(images/eight.jpg);
}

#nine {
    background-image: url(images/nine.jpg);
}

#ten {
    background-image: url(images/ten.jpg);
    background-position: center;
}

#eleven {
    background-image: url(images/eleven.jpg);
}