body {
    background-color: #000;
    max-width: 800px;
}

.portrait {
    width: 33%;
    float: left;
    position: relative;
    background: #C9B22A;
    margin: 0;
    padding: 0;
    height: 400px;
}

.portrait:hover img{
    opacity: .6;
    transition: opacity .3s ease;
}

img {
    width: 100%;
    height: 400px;
}

h1, h2 {
    font-family: montserrat;
    font-size: 200%;
    color: #FFF;
    padding: 7px;
}

h2 {
    text-shadow: 5px 5px #C9B22A;
}

h3{
    font-family: montserrat;
    font-size: 100%;
    color: #FFF;
    font-weight: 400;
    padding: 0 7px 0 7px;
    margin: 0;
}

.name{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

#header {
    width: 33%;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
}