/* Template.css
This is a template for special projects at The Post.
Template originally coded by Seth Archer, digital managing editor at The Post.
Please contact at SethPArcher@gmail.com with questions.*/

/*----- Global Styles -----*/

body {
    font-family: montserrat, sans-serif;
    background-color: #FFF;
    color: #030406;
}

a {
    color: #7fc448;
    text-decoration: none;
}

a:hover {
    opacity: .6;
}

p {
    width: 60%;
    padding: 0 20%;
}/*these have a style simmilar to column20center, do not add column20center to p tags*/

h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.date{
    font-weight: 800;
    color: #eed7fc;
    width: 60%;
    padding: 0% 20% 0 20%;
    margin: 0;
}/*apply to p tag*/

.widehed {
    width:100%;
    text-align:center;
}

.arace {
    width: 40%;
    margin: 0;
    float: left;
    padding: 5%;
}

.arace h3 {
    width: 100%;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.arace h4 {
    text-align: center;
}

.arace img {
    width: 50%;
    padding: 0 25%;
}

.aracehead {
    float: left;
    width: 30%;
}

.racebar {
    height: 50px;
    width: 50%;
    margin: 5% 5%;
    background-color: #EEE;
    color: #FFF;
    float: left;
    background:repeating-linear-gradient(45deg,
                #EEE,
                #EEE 5px,
                #FFF 5px,
                #FFF 10px);
}

.racebar div {
    height: calc(100% - 15px);
    text-align: center;
    padding-top: 15px;
}

.decidehed {
    width: 50%;
    padding: 0 20%;
}

/*-----Column stuff-----*/

.column20center {
    width: 60%;
    padding: 0 20%;
}/*do not apply to p tags, they automatically have a simmilar styling*/

.column10center {
    width: 80%;
    padding: 0 10%;
}

.column10left {
    width: 40%;
    padding-left: 10%;
}

.column10right {
    width: 40%;
    padding-right: 10%;
}

/*----- Nav Bar -----*/
/*we don't use this section as often. delete if not used in the project*/

#nav_bar {
    background: #292929;
    color: #FFF;
    height: 40px;
}

#nav_bar img {
    height: 20px;
    padding: 10px;
    float: left;
}

#nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    float: right;
}

#nav_bar ul {
    margin: 0;
}

/*----- Hero Image -----*/

#heroimg {
    width: 100%;
    position: relative;
}/*apply to wrapping div with an img tag within*/

#heroimg img {
    width: 100%;
}

#arthed {
    color: #FFF;
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 3px #000;
}/*apply to h1 within the heroimg div*/

/*----- Body Copy Things -----*/

.headline {
    color: #497425;
    padding: 0 10% 0 10%;
    width: 80%;
    margin: 0;
    font-size: 40px;
    font-weight: 900i;
    text-transform: uppercase;
}/*apply to h1, not the art hed*/

.credit {
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 50px;
}/*apply to h4 with developer's name and title*/

.subhed {
    font-family: montserrat
    , sans-serif;
    font-weight: 800;
    color: #7fc448;
}/*apply to h2 tags*/

.dropcap {
    font-weight: 700;
    float: left;
    font-size: 2.9em;
    line-height: .9em;
    padding-right: 5px;
}/*apply to wrapping span tag*/

.title {
    color: #606060;
}/*should be in same p tag as the author name*/

#byline {
    margin: 0;
    font-weight: 400;
    padding-top: 10px;
}/*applies to entire byline, with title. bold the author name. put on h4 tag*/

/*----- Img Things -----*/

.oneimg_center {
    width: 60%;
    padding: 0 20%;
}/*Apply to a wrapping div*/

.oneimg_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 10px;
    float: right;
}/*Apply to a wrapping div*/

.oneimg_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 20px;
    float: left;
}/*Apply to a wrapping div*/

.twoimg_center {
    width: 60%;
    margin: 0 20%;
}

.twoimg_center img {
    width: 50%;
    padding: 0;
    margin: 0;
    float: left;
}

.threeimg_full {
    width: 33%;
}

.oneimg_full, .oneimg_center img, .oneimg_right img, .oneimg_left img {
    width: 100%
}

/*----- Pullqute stuff -----*/

blockquote {
    padding: 0;
    margin: 5px;
}/*should be the text of the pull quote*/

.pq_center {
    width: 60%;
    padding: 0 20%;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #5379c4;
    font-weight: 800;
}/*add to wrapping div*/

.pq_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 15px;
    float: right;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #5379c4;
}/*add to wrapping div*/

.pq_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 0;
    float: left;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5379c4;
}/*add to wrapping div*/

.attribution {
    font-size: 20px;
    text-transform: none;
    display: block;
    text-align: right;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
    padding: 0 5%;
    width: 90%;
}/*add to p tag within the wrapping div*/

/*----- Image stuff -----
also use these tags to move iframes, graphics etc.. anything that would behave like a photo*/

.pcut{
    float: right;
    text-align: left;
    margin:0;
    font-weight: 100;
    color: #808080;
    font-size: 12px;
    width: 100%;
    padding: 0;
}/*add p tag, should be after the photog p tag*/

.galleryPcut{
float: right;
    text-align: left;
    margin:0;
    font-weight: 100;
    color: #808080;
    font-size: 12px;
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
}

.photog{
    float: right;
    text-align: right;
    margin:0;
    font-weight: 800;
    color: #000;
    font-size: 12px;
    width: 100%;
    padding: 0;
}/*add to p tag, should be before the pcut p tag*/

.oneimg_full p{
    width:60%;
    padding:0 20%;
}


/*----- Gallery Stuff -----*/

.gallery_bot {
    padding: 0;
    width: 20%;
    float: left;
}

.w3-hover-shadow:hover {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important
}

.mySlides {
    display:none;
}

/*----- Other -----*/

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}/*effects the post logo in the top left of the page*/

.parallax {
    height: 800px;
    width: 100%;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}/* add to the wrapping div, give the div an inline style with the photo you want to be parallax*/

.center_hed {
    width: 100%;
    text-align: center;
}

/*----- Elections -----*/

.bar_general {
    width: 80%;
    padding: 10px 10%;
    height: 40px
}

.bar_general div{
    height: 100%;
    color: #FFF;
    float: left;
    display: inline-block;
    padding-top: 15px;
    text-align: center;
}

.general_labels {
    width: 80%;
    padding: 0 10%;
    text-align: center;
}

.general_labels div {
    width: 33%;
    float: left;
}

#ohio {
    width: 100%;
    display: table;
}

.half {
    width: 50%;
    display: table-cell;
}

.underohio {
    width: 100%;
    padding: 0 5%;
}

.underohio img {
    float: left;
    width: 10%;
}

.bar_ohio {
    height: 50px;
    width: 70%;
    float: left;
}

.bar_ohio div{
    height: 100%;
    color: #FFF;
    float: left;
    display: inline-block;
    padding-top: 30px;
    text-align: center;
}

.story {
    width: 100%;
    display: table;
}

.story_img {
    width: 50%;
    float: left;
    display: table-cell;
    border-top: 1px solid #FFF;
    background-position: center center;
    background-size: cover;
    height: 250px;
}

#img1 {
    background-image: url("https://s3.amazonaws.com/media.ohi/16458_slack_for_ios_upload3p.jpg");
}

#img2 {
    background-image: url("https://s3.amazonaws.com/media.ohi/16457_dsc_0608_1p.jpg");
}

.story_text {
    float: left;
    width: 50%;
    display: table-cell;
    border-top: 1px solid #000; 
}

.story_text h3{
    text-transform: uppercase;
    padding: 0 10%;
    margin: 0;
}

.story_text p {
    padding: 10px 10%;
    width: 80%;
    margin: 0;
}

.story:hover {
    opacity: .8;
}

.story:active {
    opacity: .6;
}

@media screen and (max-width: 750px){
    
    .oneimg_right, .oneimg_left, .oneimg_center {
        width: 80%;
        padding: 0 10% 10px 10%;
    }
    
    .oneimg_full p {
        width: 80%;
        padding: 0 10%;
    }
    
    .pq_center, .pq_right, .pq_left {
        padding: 0 5%;
        width: 90%;
    }
    
    .column20center, p {
        width: 80%;
        padding: 0 10%;
    }
    
    #arthed {
        font-size: 40px;
    }
    
    .subhed{
        padding: 0 10%;
    }
    
    .credit{
        padding-bottom: 20px;
    }
    
    #logo {
        height: 25px;
    }

    .headline {
        width: 80%;
        padding: 4% 10% 0 10%;
        font-size: 25px;
    }
    
    .arace {
    width: 90%;
    }
        
    .half {
        width: 100%;
        float: none;
        display: inline-block;
    }
    
    .bar_ohio div{
        padding: 5% 0;
        font-size: 12px;
    }
    
    .oh_explainer {
        padding-top: 30px;
    }
    
    .story_img {
        width: 100%;
    }
    
    .story_text {
        width: 100%;
    }
    
    .decidehed {
        width: 80%;
        padding: 0 10%;
        margin-right: 0;
    }
    
}
