/* Template.css
This is a template for special projects at The Post.
Template originally coded by Taylor Johnston, digital managing editor at The Post.
Please contact at taylorfjohnston@gmail.com with questions.*/

:root {
    --font-1: 'Montserrat', Arial, sans-serif;
    --font-2: 'Montserrat', Arial, sans-serif;
    --artColor: #fff;
    --strokeColor: transparent;
    --shadowColor: #000000;
    --hedColor: #fff;
    --hyperlinkColor: #b3d4bd;
    --borderColor: #fff;
}

/* GENERAL STYLES */
html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #fff;
}

.landing-pg {
    background: #00352c;
}

a {
    color: #fff;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.creditText a:hover,
.s-headline a:hover {
    filter:hue-rotate(90deg);
}

#content-cont {
    margin-bottom: 2em;
}

.s-headline a,
.creditText a {
    color: var(--hyperlinkColor)
}

p {
    width: 60%;
    padding: 0 20%;
}

h2 {
    padding: 0 15%;
}

h3 {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR */
#nav_bar {
    background: #292929;
    color: #FFF;
    height: 52px;
}

#nav_bar img {
    height: 30px;
    padding: 10px;
    float: left;
}

#nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    float: right;
}

#nav_bar ul {
    margin: 0;
}

#nav_bar li #facebook {
    color: #fff;
}

#nav_bar li #facebook:hover {
    color: #337ab7;
    opacity: 1;
}

#nav_bar li #twitter {
    color: #fff;
}

#nav_bar li #twitter:hover {
    color: #55ACEE;
    opacity: 1;
}

#nav_bar li #instagram {
    color: #fff;
}

#nav_bar li #instagram:hover {
    color: #efc04a;
    opacity: 1;
}

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}

/* HERO IMAGE */
.googleAD {
    width: 60%;
    margin: 0 20%;
    /* background-color: rgb(233, 233, 233); */
}

.adsbygoogle {
    /* background: rgba(0, 89, 255, 0.164); */
    display:block;
    width:100%;
    height:5em; 
    margin: 0;
}

#heroimg {
    width: 100%;
    position: relative;
    height: 20em;
    background-color: var(--bubbleColor);
}

#heroimg img {
    width: 100%;
}

#arthed {
    font-family: var(--font-1);
    color: var(--artColor);
    position: absolute;
    bottom: 40%;
    padding: 0;
    margin: 0 1.75%;
    font-size: var(--artSize);
    line-height: var(--artSize);
    /* font-size: 5.6rem; */
    font-weight: 700;
    text-align: center;
    width: 96%;
    text-shadow: 2px 2px 3px var(--artShadow);
    -webkit-text-stroke: 0.04em var(--artStroke);
}

.googleAD {
    width: 60%;
    margin: 0 20%;
    /* background-color: rgb(233, 233, 233); */
}

.adsbygoogle {
    /* background: rgba(0, 89, 255, 0.164); */
    display:block;
    width:100%;
    height:5em; 
    margin: 0;
}

#arthed {
    color: var(--artColor);
    font-family: var(--font-1);
    position: absolute;
    bottom: 40%;
    padding: 0;
    margin: 0;
    font-size: clamp(2.5rem, 10vw, 5.6rem);
    line-height: clamp(2.4rem, 10vw, 5.5rem);
    /* font-size: 5.6rem; */
    font-weight: 700;
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 3px #000;
    -webkit-text-stroke: 4px var(--strokeColor);
}

/* HEADLINE STYLES */
h1,
h2,
h3,
h4 {
    margin-bottom: 1.2px;
}


/* Pick one font depending on design (or find another one) */
.cutline {
    float: left;
    text-align: left;
    margin: 0;
    color: #fff;
    font-size: 0.8rem;
    width: 90%;
    padding: 5px 0;
    padding-left: 10px;
}

/* INTRO CONTAINER*/
.intro-cont {
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.intro-cont p {
    line-height: 1.5em;
}

p.signature {
    text-align: center;
    font-size: 1em;
}

.landing-intro {
    text-align: center;
    font-size: 2.5rem;
    display: block;
}

/* SOCIAL HANDLES*/
.s-headline {
    color: var(--hedColor);
    width: 80%;
    padding: 0 10%;
    margin: 0;
    font-size: calc(1vw + 0.8rem);
    font-weight: 900;
    text-align: left;
    text-transform: none;
    font-family: var(--font-2);
}

.s-headline a:hover {
    text-decoration: underline;
}

#socials-content {
    margin: 20px 20% 0px 20%;
    padding: 20px 0;
}

.bubble {
    position: relative;
    border: solid 8px var(--borderColor);
    border-radius: 30px;
    -webkit-border-radius: 30px;
}

/* BUBBLE POINT - TOP */
.bubble3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-bottom-color: var(--borderColor);
    border-top: 0;
    margin-left: -23px;
    margin-top: -25px;
}

/* BUBBLE POINT - BOTTOM */
.bubble4::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top-color: var(--borderColor);
    border-bottom: 0;
    margin-left: -25px;
    margin-bottom: -25px;
    z-index: -1;
}

div.handle-div {
    margin: 50px auto;
}

.circle-button {
    font-family: 'Roboto', sans-serif;
    color: #8bd5a1;
    /* border: solid 0.2em transparent; */
    display: inline-block;
    font-size: 2rem;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    height: 80px;
}


.circle-button:hover {
    /* border: solid 0.2em #3d3c3d; */
    background-color: none;
    animation: circle-anim 0.4s ease forwards;
    transition: all 0.4s ease-in-out;
    filter: none;
    font-size: 2.5rem;
}

.fa-twitter,
.fa-instagram,
.fa-youtube,
.fa-snapchat-ghost,
.fa-facebook {
    padding: 5px;
}

.iconify {
    width: 2em;
    height: 2em;
    margin: 5px 10px 30px 10px;
}


.grow-container {
    display: inline-block;
    margin: 1em;
}

.fa-fw {
    width: 1.25em;
    text-align: center;
}

.flat-under a:hover {
    opacity: 100%;
    transition: all 0.4s ease-in-out;
}

div.flat-under.handle-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.to-insta:hover {
    color: #E1306C;
}

.to-twitter:hover {
    color: #1DA1F3;
}

.to-youtube:hover {
    color: #ff0000;
}

.to-snapchat:hover {
    color: #ffe101;
}

.to-facebook:hover {
    color: #4b76d1;
}

a.to-tiktok:hover {
    color: #ee1d52;
}

@keyframes circle-anim {
    0% {}

    90% {
        padding: 0.35em;
        margin: -0.35em;
    }

    100% {
        padding: 0.25em;
        margin: -0.25em;
    }
}


/* CREDITS */
.credits {
    margin: 1em auto 0;
    max-width: 50%;
    padding-bottom: 2.4em;
    text-align: center;
}

.creditText {
    display: inline-block;
    font-family: var(--font-2);
    font-size: 1rem;
    margin: 0 1em 0em 0;
}

.creditText a {
    font-weight: 700;
    cursor: pointer;
    font-family: var(--font-1);
}

#pageContent {
    display: flex;
    justify-content: center;
}

/*-- TABS --*/
/* Style the tab */
.tab {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10%;
    overflow: hidden;
    margin-bottom: 2em;
}
  
  /* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 1em;
    transition: 0.3s;
    font-weight: 700;
    font-size: clamp(1.25rem, 1vw, 1.5rem);
    width: 8em;
    border-radius: 1em;
    margin: 0.2em;
}

/* Change background color of buttons on hover */


/* Create an active/current tablink class */
.tab button.active {
    color: #fff;
}

.News.active,
.News:hover{
    background-color: #68b6e5;
}

.Culture.active,
.Culture:hover{
    background-color: #ea158c;
}

.Sports.active,
.Sports:hover{
    background-color: #ca4235;
}

.Opinion.active,
.Opinion:hover{
    background-color: #f4801f;
}

.TheBeat.active,
.TheBeat:hover{
    background-color: #d9be30;
}

.Projects.active,
.Projects:hover{
    background-color: #644d94;
}

/* Style the tab content */
.tabcontent {
    display: none;
    width: 100%;
    margin: 0 auto;
    /* background-color: blanchedalmond; */
    border: none;
}

.insideCont {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.insideCont a {
    text-align: center;
    width: 20em;
    height: 20em;
    margin: 3em 0 0 4em;
    /* height: 15vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    /* filter: grayscale(1); */
    border-radius: 100%;
    transition-duration: 0.4s;
}

.insideCont a:hover {
    cursor: pointer;
    filter: none;
    /* border-radius: 1em; */
    transition: 0.4s ease-in-out;
}

h3 {
    font-size: 2rem;
    text-shadow: 0px 0px 15px var(--shadowColor);
    z-index: 1;
}

.pop {
    width: 20em;
    height: 20em;
    border-radius: 100%;
    position: absolute;
    background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(224,224,224,0.6) 100%);
    transition: all 0.4s ease-in-out;
}

.pop::after {
    content: "";
    position: absolute;
    top: 1vh;
    left: 1vw;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    filter: blur(3px);
    -webkit-transform: rotateZ(-50deg);
    transform: rotateZ(-50deg);
    display: block;
    background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 70%, white 84%, rgba(255, 255, 255, 0) 100%);
    transition: all 0.4s ease-in-out;
}

/* .pop:hover,
.pop:active {
    opacity: 0;
    transform: translate(0px, 0px) scale(1.25, 1.25);
} */

 @keyframes pop {
    from {
        opacity: 1;
        transform: translate(0px, 0px) scale(1, 1);
    }

    to {
        opacity: 0;
        transform: translate(0px, 0px) scale(1.25, 1.25);
    }
}

.pop:hover {
    animation: pop 1s cubic-bezier(0.16, 0.87, 0.48, 0.99) forwards;
}

/* .ProjectsCont {
    justify-content: center;
} */

/* .ProjectsCont a {
    margin: 3em 2em 0;
} */


/*-- STORIES --*/





.twitterEmbed {
    width: 30%;
    margin: 2em 1em 5em 2em;
    max-height: 40em;
    overflow-y: scroll;
}


/* SPECIAL PROJECT FOOTER */
.footer {
    color: #FFF;
    font-family: 'Playfair Display';
    width: 100%;
    height: 200px;
    text-shadow: 2px 2px 5px #000;
    background-color: #292929;
    display: table;
}

.footer_inside {
    vertical-align: middle;
    display: table-cell;
}

a.end {
    color: #fff;
    transition-duration: .2s;
}

a.end:hover {
    text-shadow: 0px 0px 10px #fff;
    letter-spacing: 3px;
    transition: ease-in-out .2s;
}

.footer h2 {
    font-size: 2.5rem;
    width: 70%;
    padding: 0 15%;
    margin: 0;
    line-height: 35px;
}

.footer p {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    width: 70%;
    padding: 10px 15% 0 15%;
}

.copyright {
    color: #FFF;
    font-family: 'Montserrat', Arial, sans-serif;
    width: 100%;
    height: 20px;
    text-shadow: 2px 2px 5px #000;
    background-color: #171717;
    display: table;
}

.copyright_inside {
    vertical-align: middle;
    display: table-cell;
}

.copyright p {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    width: 70%;
    padding: 13px 15% 15px 15%;
}

.btn-container {
    margin-left: 20px;
}

.join, 
.projects {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    transition-duration: .3s;
}

.join:hover,
.projects:hover {
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    transition-duration: .3s;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1080px) {

    .yt_center,
    .yt_right,
    .yt_left {
        height: 315px;
    }
}


@media screen and (max-width: 768px) {

    #logo {
        height: 25px;
    }

    .googleAD {
        width: 80%;
        margin: 0 10%;
    }

    #arthed {
        /* font-size: 4.5rem; */
        -webkit-text-stroke: 3px var(--strokeColor);
        bottom: 40%;
    }

    #socials-content {
        margin: 20px 10% 0px 10%;
    }

    .handle-content {
        margin: 0 20%;
    }
    
    .byline-info p {
        text-align: center;
    }

    .share-container {
        text-align: center;
    }

    #pageContent {
        flex-direction: column;
    }

    .insideCont {
        justify-content: center;
    }
    
    .insideCont a {
        margin: 3em 0.5em 0;
    }
    
    .twitterEmbed {
        width: 80%;
        margin: 2em 10% 0;
        outline: 10px ridge #ad6801;
        outline-offset: 5px;
        -webkit-outline: 10px ridge #ad6801;
        -webkit-outline-offset: 5px;
        max-height: 25em;
    }

    .credits {
        max-width: 100%;
        text-align: center;
        margin-top: 2em;
    }

    .footer {
        height: 300px;
    }
    
    a.end:hover {
    letter-spacing: 1px;
    }

    .copyright {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {

    #arthed {
        /* font-size: 3.1rem; */
        -webkit-text-stroke: 2px var(--strokeColor);
    }

}

@media screen and (max-width: 500px) {
    
    .yt_right {
        width: 80%;
        padding: 0 10%;
        margin: 0;
        float: none;
        height: 230px;
    }

    .yt_left {
        width: 80%;
        padding: 0 10%;
        margin: 0;
        float: none;
        height: 230px;
    }

}


