/* Template.css
This is a template for special projects at The Post.
Template originally coded by Seth Archer, digital managing editor at The Post.
Please contact at SethPArcher@gmail.com with questions.*/

/*----- Global Styles -----*/

body {
    font-family: montserrat, sans-serif;
    background-color: #fff;
    color: #030406;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: .6;
}

p {
    width: 60%;
    padding: 0 20%;
}/*these have a style simmilar to column20center, do not add column20center to p tags*/

h2 {
    padding: 0 15%;
}

h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h4{
    font-size: 25px;
    margin: 0;
    padding: 0;
    padding-top: 0;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.date{
    font-weight: 800;
    color: #eed7fc;
    width: 60%;
    padding: 0% 20% 0 20%;
    margin: 0;

}/*apply to p tag*/

/*-----Column stuff-----*/
.centered {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.column20center {
    width: 60%;
    padding: 0 20%;
}/*do not apply to p tags, they automatically have a simmilar styling*/

.column10center {
    width: 80%;
    padding: 0 10%;
}

.column10left {
    width: 40%;
    padding-left: 10%;
}

.column10right {
    width: 40%;
    padding-right: 10%;
}

/* GRID */

body {
  background: #e6e6e6;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
  color: #030406;
}

a:hover {
  opacity: .6;
  width: auto;
}

h3 {
  display: grid;
  font-size: 1.5em;
  font-weight: bold;
  color: aliceblue;
}

h4 {
  display: grid;
  font-size: .75em;
  font-weight: normal;
  color: aliceblue;
}

#grid {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 4rem auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;
}

.link {
  display: block;
  width: 100%;
  text-align: center;
  background: #ffffff30;
  text-decoration: none;
  color: white;
  height: 500px;
  text-align: center;
  overflow: hidden;
}

.inner-content {
  justify-content: center;
  align-content: center;
  z-index: 0;
  text-shadow: 2px 2px #122620;
}

@media (min-width: 600px) {
  #grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  #grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid__item {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.grid__item:nth-child(odd) {
  height: auto;
  min-height: 280px;
}

@media (min-width: 600px) {
  .grid__item:nth-child(odd) {
    height: 280px;
  }
}

.grid__item:nth-child(even) {
  height: auto;
  min-height: 280px;
}

@media (min-width: 992px) {
  .grid__item:nth-child(even) {
    height: 440px;
    margin-top: -80px;
  }
}

.grid__item:nth-child(1) {
  background: url("https://w.wallhaven.cc/full/95/wallhaven-95mgm8.jpg") no-repeat center/cover;
}

.grid__item:nth-child(2) {
  background: url("https://w.wallhaven.cc/full/d5/wallhaven-d5pvql.jpg") no-repeat center/cover;
}

.grid__item:nth-child(3) {
  background: url("https://w.wallhaven.cc/full/d5/wallhaven-d5pkgm.jpg") no-repeat center/cover;
}

.grid__item:nth-child(4) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/9a652b8b-5e6b-4fd5-ba00-4a7dc6ef544a.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(5) {
  background: url("https://w.wallhaven.cc/full/vm/wallhaven-vm9j3l.jpg") no-repeat center/cover;
}

.grid__item:nth-child(6) {
  background: url("https://w.wallhaven.cc/full/lq/wallhaven-lqm2lr.jpg") no-repeat center/cover;
}

.grid__item:nth-child(7) {
  background: url("https://w.wallhaven.cc/full/8x/wallhaven-8xxp32.jpg") no-repeat center/cover;
}

.grid__item:nth-child(8) {
  background: url("https://w.wallhaven.cc/full/yj/wallhaven-yjmkw7.jpg") no-repeat center/cover;
}

.grid__item:nth-child(9) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/b54f30d0-fb89-44a8-b97b-a4e2ca7bcbf3.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(10) {
  background: url("https://w.wallhaven.cc/full/nm/wallhaven-nm8zvy.jpg") no-repeat center/cover;
}

.grid__item:nth-child(11) {
  background: url("https://s3.amazonaws.com/snwceomedia/ohi/57715829-e866-4264-9503-d87f1bba24fc.sized-1000x1000.jpg") no-repeat center/cover;
}

.grid__item:nth-child(12) {
  background: url("https://w.wallhaven.cc/full/nm/wallhaven-nm8zvy.jpg") no-repeat center/cover;
}

.grid__item:nth-last-child(2) {
  height: auto;
  min-height: 280px;
}

@media (min-width: 600px) {
  .grid__item:nth-last-child(2) {
    height: 280px;
  }
}

@media (min-width: 992px) {
  .grid__item:nth-last-child(2) {
    height: 360px;
  }
}

.grid__item:nth-child(2) {
  height: auto;
  min-height: 280px;
}

@media (min-width: 600px) {
  .grid__item:nth-child(2) {
    height: 280px;
  }
}

@media (min-width: 992px) {
  .grid__item:nth-child(2) {
    height: 360px;
    margin-top: 0rem;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .grid__item:nth-child(4n+3), .grid__item:nth-child(4n+2) {
    height: 360px;
  }

  .grid__item:nth-child(4n+3) {
    margin-top: -80px;
  }

  .grid__item:last-child {
    grid-column: span 2;
  }
}


/*----- Hero Image -----*/

/*------- CONTENT CONTAINER -------*/
#content-cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.inner-content {
    justify-content: center;
    align-items: center;
    transform: translate(0px,120px);
    display:flex;
    position: 122px;
    z-index: 2;
    cursor: pointer;
    text-shadow: 2px 2px #122620;
}
/* #overlay{
  position:relative;
justify-content: center;
    align-items: center;
  display:default;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements
  cursor: pointer; /* Add a pointer on hover
    text-align: center;
    width: 100%;
}
   */
.element {
  clip: rect(10px, 20px, 30px, 40px);
}
.img-wrapper {
    margin:20px;
    display: inline-block;
    text-align: center;
  }

img.landing {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    transition-duration: 1s;
    overflow:hidden;
    min-width: 100%;
  }

#heroimg {
    width: 100%;
    position: relative;
}/*apply to wrapping div with an img tag within*/

#heroimg img {
    width: 100%;
}

#arthed {
    color: #FFF;
    position: absolute;
    bottom: 50%;
    padding: 0;
    margin: 0;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 3px #000;
    -webkit-text-stroke: 4px #FFD38C;
}/*apply to h1 within the heroimg div*/

/*----- Body Copy Things -----*/

.headline {
    color: #497425;
    padding: 0 10% 0 10%;
    width: 80%;
    margin: 0;
    font-size: 40px;
    font-weight: 900i;
    text-transform: uppercase;
}/*apply to h1, not the art hed*/


.credit-container h3 {

}
.credit a{
  color: #006036;
}
.credit {
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 0px;
}/*apply to h4 with developer's name and title*/

.subhed {
    font-family: montserrat
    , sans-serif;
    font-weight: 800;
    color: #7fc448;
}/*apply to h2 tags*/

.dropcap {
    font-weight: 700;
    float: left;
    font-size: 2.9em;
    line-height: .9em;
    padding-right: 5px;
}/*apply to wrapping span tag*/

.title {
    color: #606060;
}/*should be in same p tag as the author name*/

#byline {
    margin: 0;
    font-weight: 400;

}/*applies to entire byline, with title. bold the author name. put on h4 tag*/

/*----- Img Things -----*/

.oneimg_center {
    width: 60%;
    padding: 0 20%;
}/*Apply to a wrapping div*/

.oneimg_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 10px;
    float: right;
}/*Apply to a wrapping div*/

.oneimg_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 20px;
    float: left;
}/*Apply to a wrapping div*/

.twoimg_center {
    width: 60%;
    margin: 0 20%;
}

.twoimg_center img {
    width: 50%;
    padding: 0;
    margin: 0;
    float: left;
}

.threeimg_full {
    width: 33%;
}

.oneimg_full img, .oneimg_center img, .oneimg_right img, .oneimg_left img {
    width: 100%
}

/*----- Pullquote stuff -----*/

blockquote {
    padding: 0;
    margin: 5px;
}/*should be the text of the pull quote*/

.pq_center {
    width: 60%;
    padding: 0 20%;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #5379c4;
    font-weight: 800;
}/*add to wrapping div*/

.pq_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 15px;
    float: right;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #5379c4;
}/*add to wrapping div*/

.pq_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 0;
    float: left;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5379c4;
}/*add to wrapping div*/

.attribution {
    font-size: 20px;
    text-transform: none;
    display: block;
    text-align: right;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
    padding: 0 5%;
    width: 90%;
}/*add to p tag within the wrapping div*/

/*----- Image stuff -----
also use these tags to move iframes, graphics etc.. anything that would behave like a photo*/

.pcut{
    float: right;
    text-align: left;
    margin:0;
    font-weight: 100;
    color: #808080;
    font-size: 12px;
    width: 100%;
    padding: 0;
}/*add p tag, should be after the photog p tag*/

.galleryPcut{
float: right;
    text-align: left;
    margin:0;
    font-weight: 100;
    color: #808080;
    font-size: 12px;
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
}

.photog{
    float: right;
    text-align: right;
    margin:0;
    font-weight: 800;
    color: #000;
    font-size: 12px;
    width: 100%;
    padding: 0;
}/*add to p tag, should be before the pcut p tag*/

.oneimg_full p{
    width:60%;
    padding:0 20%;
}


/*----- Gallery Stuff -----*/

.gallery_bot {
    padding: 0;
    width: 20%;
    float: left;
}

.w3-hover-shadow:hover {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important
}

.mySlides {
    display:none;
}

/*----- Other -----*/

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}/*effects the post logo in the top left of the page*/

.parallax {
    height: 800px;
    width: 100%;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}/* add to the wrapping div, give the div an inline style with the photo you want to be parallax*/

/* SPECIAL PROJECT FOOTER */
.footer {
    color: #FFF;
    font-family: 'Playfair Display';
    width: 100%;
    height: 200px;
    text-shadow: 2px 2px 5px #000;
    background-color: #292929;
    display: table;
}

.footer_inside {
    vertical-align: middle;
    display: table-cell;
}

.footer h2 {
    font-size: 40px;
    width: 70%;
    padding: 0 15%;
    margin: 0;
    line-height: 35px;
}

.footer p {
    font-family: 'Montserrat';
    margin: 0;
    width: 70%;
    padding: 10px 15% 0 15%;
}

.copyright {
  color: #FFF;
  font-family: 'Montserrat';
  width: 100%;
  height: 20px;
  text-shadow: 2px 2px 5px #000;
  background-color: #171717;
  display: table;
}

.copyright_inside {
  vertical-align: middle;
  display: table-cell;
}

.copyright p {
    font-family: 'Montserrat';
    margin: 0;
    width: 70%;
    padding: 13px 15% 15px 15%;
}

.btn-container {
  margin-left:20px;
}



.projects {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.projects:hover {
  color: white;
}

.join {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.join:hover {
  color: white;
}

@media screen and (max-width: 750px){

    .oneimg_right, .oneimg_left, .oneimg_center {
        width: 80%;
        padding: 0 10% 10px 10%;
    }

    .oneimg_full p {
        width: 80%;
        padding: 0 10%;
    }

    .pq_center, .pq_right, .pq_left {
        padding: 0 5%;
        width: 90%;
    }

    .column20center, p {
        width: 80%;
        padding: 0 10%;
    }

    #arthed {
        font-size: 40px;
    }

    .subhed{
        padding: 0 10%;
    }

    .credit{
        padding-bottom: 20px;
    }

    #logo {
        height: 25px;
    }

    .headline {
        width: 80%;
        padding: 0% 10% 0 10%;
        font-size: 25px;
    }

    .date {
        padding: 0 10%;
        width: 80%;
    }

    #banner {
        font-size: 50px;
    }

    .story {
        height: 300px;
    }
}

@media only screen and (max-width: 600px) {



img.landing {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    transition-duration: 1s;
    }
}
