html, body {
    height: 100%;
}

.slide {
    height: 1000px;
    text-align: center;
    width: 100vw;
    background-position: center center;
    background-size: cover;
}

.caption {
    height: 30%;
    width: 100%;
    float: left;
    position: relative;
}

h2 {
    position: absolute;
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 4vw;
    line-height: 0;
    text-shadow: 1px 1px 2px #000;
}

p {
    color: #FFF;
    position: absolute;
    top: 8vw;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 2px #000;
    overflow: visible;
}

.half {
    height: 30%;
    width: 45%;
    float: left;
    position: relative;
    background-color:  color: #292929;
    z-index: 2;
    font-size: 6vw;
    font-weight: 900;
    padding-top: 34%;
}

.half:hover {
    opacity: .5
}

.left {
    text-align: left;
    padding-left: 5%;
}

.right {
    text-align: right;
    padding-right: 5%;
}

a {
    color: #fff;
}