/* Template.css
This is a template for special projects at The Post.
Template originally coded by Seth Archer, digital managing editor at The Post.
Please contact at SethPArcher@gmail.com with questions.*/

/*----- Global Styles -----*/

body {
    font-family: montserrat, sans-serif;
    background-color: #FFF;
    color: #030406;
}

a {
    color: #7fc448;
    text-decoration: none;
}

a:hover {
    opacity: .6;
}

p {
    width: 65%;
    padding: 0 18%;
    text-align: center;
}/*these have a style simmilar to column20center, do not add column20center to p tags*/

h2 {
    padding: 0 15%;
}

h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.date{
    font-weight: 800;
    color: #eed7fc;
    width: 60%;
    padding: 0% 20% 0 20%;
    margin: 0;
}/*apply to p tag*/

.headline {
    color: #000;
    padding: 0 10% 0 10%;
    width: 80%;
    margin: 0;
    font-family: passion one;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;

}

/*-----Column stuff-----*/

.column20center {
    width: 60%;
    padding: 0 20%;
}/*do not apply to p tags, they automatically have a simmilar styling*/

.column10center {
    width: 80%;
    padding: 0 10%;
}

.column10left {
    width: 40%;
    padding-left: 10%;
}

.column10right {
    width: 40%;
    padding-right: 10%;
}

/*----- Body Copy Things -----*/

.headline {
    color: #107e41;
    padding: 0 10% 0 10%;
    width: 80%;
    margin: 0;
    font-size: 40px;
    font-weight: 900i;
    text-transform: uppercase;
}/*apply to h1, not the art hed*/

.credit {
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 50px;
}/*apply to h4 with developer's name and title*/

.dropcap {
    font-weight: 700;
    float: left;
    font-size: 2.9em;
    line-height: .9em;
    padding-right: 5px;
    font-family: montserrat;
}/*apply to wrapping span tag*/

.sectionbreak {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: montserrat
}

.title {
    color: #606060;
}/*should be in same p tag as the author name*/

#byline {
    margin: 0;
    font-weight: 400;
}/*applies to entire byline, with title. bold the author name. put on h4 tag*/


/*---- Landing Page Stuff ----*/

.header {
    background: white;
    margin: 50px;
    text-align: center;
    font-family: montserrat;
    font-size:5vw;
    letter-spacing: 3vw; 
}
.wrapper {
	max-width: 900px;
	margin: 0 auto;
}

.wrapper>div {
	padding: 5em;
	color: white;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
	grid-auto-rows: minmax(100px, auto);
}

.one {
	grid-column: 1;
	grid-row: 1;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/35604047-47c9-4d88-8bd1-7cf2eb09d61e.sized-1000x1000.jpg');
	position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -100px;
}

.one span {
	position: absolute;
	bottom: 2px;
	left: 5px;
    text-shadow: 2px 2px black;
}

.two {
	grid-column: 2;
	grid-row: 1 /3;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/aedec1a6-bfac-4649-a843-710934fe9588.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    background-repeat: repeat;
    background-position: -50px 0px;
}

.two span {
	position: absolute;
    bottom: 2px;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.three {
	grid-column: 1;
	grid-row: 2 / 3;
	background-image: url('img/Homecoming%20double%20take.png');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.three span {
	position: absolute;
	bottom: 2px;
	left: 5px;
    text-shadow: 2px 2px black;
}

.four {
	grid-column: 3;
	grid-row: 1 / 4;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/f73c7528-8436-4f48-bc1b-61479bd9ede0.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    background-repeat: repeat;
    background-position: -340px 0px;
}

.four span {
	position: absolute;
	bottom: 2px;
	left: 5px;
    text-shadow: 2px 2px black;
}

.five {
	grid-column: 1 /3;
	grid-row: 3;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/e7afb622-9902-43c1-85e4-f3c836904fe2.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -70px;
}

.five span {
	position: absolute;
	bottom: 2px;
	left: 5px;
    text-shadow: 2px 2px black;
}

.six {
	grid-column: 1 / 4;
	grid-row: 4;
	background-image: url('http://snworksceo.imgix.net/ohi/d8a90b30-55ea-40ba-b1d8-060436a3199b.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -60px;
}
.six span {
	position: absolute;
	bottom: 2px;
	left: 5px;
    text-shadow: 2px 2px black;
}


.seven {
	grid-column: 1;
	background-image: url('http://www.extremetech.com/wp-content/uploads/2012/02/GreenBackground.png');
    position: relative;
}

.seven span {
	position: absolute;
	bottom: 2px;
	left: 5px;
    text-shadow: 2px 2px black;
}

.eight {
	grid-column: 1;
	grid-row: 8 / 5;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/f222bab1-ee1a-43fb-83ab-527e2b0c65a6.sized-1000x1000.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-position: -500px 0px;
}

.eight span {
	position: absolute;
	bottom: 2px;
	left: 5px;
    text-shadow: 2px 2px black;
}

.nine {
	grid-column: 2;
	grid-row: 7/5;
	background-image: url('http://snworksceo.imgix.net/ohi/3ea841f4-ca74-40a1-8db6-7e1607fe193c.sized-1000x1000.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.nine span {
	position: absolute;
	bottom: 2px;
	left: 5px;
    text-shadow: 2px 2px black;
}

.ten {
	grid-column: 3;
	background-image: url('img/hoganandtheboys.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ten span {
	position: absolute;
	bottom: 2px;
	left: 5px;
    color: white;
    text-shadow: 2px 2px black;
}

.eleven {
	grid-column: 3;
	grid-row: 7/6;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/b5cd0e37-1377-4bf2-9335-5becf600e28a.sized-1000x1000.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-position: -500px -150px;
}

.eleven span {
	position: absolute;
	bottom: 2px;
	left: 5px;
    text-shadow: 2px 2px black;
}

.twelve {
	grid-column: 2/4;
	grid-row: 7;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/25ed2d7b-3195-41a1-8521-58475d700f1d.sized-1000x1000.jpg');
    position: relative;
    background-position: center;
    background-position: 800px -180px;
}

.twelve span {
	position: absolute;
	bottom: 2px;
	left: 5px;
    text-shadow: 2px 2px black;
}

.thirteen {
	grid-column: 1/4;
	grid-row: 8;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/2f29eda4-4950-41e3-afd5-30efc1e3da44.sized-1000x1000.jpg');
    position: relative;
}

.thirteen span {
	position: absolute;
	bottom: 2px;
	left: 5px;
    text-shadow: 2px 2px black;
}

.fourteen {
	grid-column: 1;
	grid-row: 9;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/bdf0cf9c-b04b-4f41-ab80-c7ead621283c.sized-1000x1000.jpg');
    position: relative;
    background-position: center;
    background-position: 550px 600px;
}

.fourteen span {
	position: absolute;
	bottom: 2px;
	left: 5px;
    text-shadow: 2px 2px black;
}

.fifteen {
	grid-column: 2/4;
	grid-row: 9;
	background-image: url('https://s3.amazonaws.com/snwceomedia/ohi/f1ccd180-6932-4b8e-89da-73afa384cd0f.sized-1000x1000.jpg');
    position: relative;
    background-position: center;
    background-position: 700px 550px;
}

.fifteen span {
	position: absolute;
	bottom: 2px;
	left: 5px;
    text-shadow: 2px 2px black;
}
/*HOVER*/

.one:hover {
	opacity: .6;
}

.two:hover {
	opacity: .6;
}

.three:hover {
	opacity: .6;
}

.four:hover {
	opacity: .6;
}

.five:hover {
	opacity: .6;
}

.six:hover {
	opacity: .6;
}

.eight:hover {
	opacity: .6;
}

.nine:hover {
	opacity: .6;
}

.ten:hover {
	opacity: .6;
}

.eleven:hover {
	opacity: .6;
}

.twelve:hover {
	opacity: .6;
}

.thirteen:hover {
	opacity: .6;
}

.fourteen:hover {
	opacity: .6;
}

.fifteen:hover {
	opacity: .6;
}

@media only screen and (max-width: 768px) {
	.wrapper {
		display: block;
	}
	.margin-bot {
		margin-bottom: 2px;
	}
}

/*----- Other -----*/

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}/*effects the post logo in the top left of the page*/


/* Landing page clicky box at bottom.*/

.story {
    color: #FFF;
    font-family: playfair display;
    width: 100%;
    height: 200px;
    text-shadow: 2px 2px 5px #000;
    background-color: #292929;
    display: table;
}

.story_inside{
    vertical-align: middle;
    display: table-cell;
}

.story h2{
    font-size: 40px;
    width: 70%;
    padding: 0 15%;
    margin: 0;
    line-height: 35px;
}

.story p{
    font-family: montserrat;
    margin: 0;
    width: 70%;
    padding: 10px 15% 0 15%;
}

@media screen and (max-width: 750px){

    
    #logo {
        height: 25px;
    }