
#container {
    height: 1200px;
    width: 100%;
    background-attachment: fixed;
    background-position: 90% 40%;
    background-repeat: no-repeat;
    background-size: 600px;

}


@media screen and (max-width: 750px){


    #container {
        height: 600px;
        background-size: 200px;
    }











}


