.fixed {
    z-index: -1;
}

.fixed img {
    position: fixed;
    width: 35%;
    left: 5%;
    top: 5%;
    z-index: -1;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    color: goldenrod;
}

.fixed p {
    position: fixed;
    text-align: right;
    font-family: montserrat;
    font-weight: 900;
    left: 5%;
    top: 40%;
    z-index: -2;
}

h1 {
    font-family: montserrat;
    font-weight: 900;
    font-size: 13vw;
    padding: 0;
    margin: 0;
    line-height: 11vw;
    margin-top: 10%;
    letter-spacing: -1vw;
}

.firstwhite {
    width: calc(100% - 7px);
    text-align: right;
    color: #fff;
    padding-right: 10px;
}

.firstblack {

}

h2 {
    font-family: montserrat;
    font-weight: 900;
    font-size: 13vw;
    text-transform: uppercase;
    font-weight: 900;
    color: magenta;
    text-align: right;
    width: 2vw;
    padding: 0;
    margin: 0;
    float: right;
    line-height: 0vw;
    margin-top: 0vw;
    margin-right: 3vw;
}

.rotate {
    transform: rotate(90deg);
}

.tablerow {
    display: table-row;
    width: 100%;
}

.table {
    display: table;
}

.cell {
    display: table-cell;
}

.right {
    width: 50%;
}

.farright {
    width: 10%;
}

.farright h3 {
    font-size: 16px;
    width: 50px;
    float: left;
    transform: rotate(90deg);
    position: fixed;
    top: 5%;
    text-transform: uppercase;
}

.left {
    width: 40%;
}


.scrolling p {
    width: 90%;
    padding: 0 5%;
}

.oneimg_left {
    width: 50%;
    padding-left: 5%;
    float: left;
    padding-right: 10px;
}

.oneimg_right {
    width: 50%;
    padding-right: 5%;
    float: right;
    padding-left: 10px;
}

.oneimg_center {
    width: 90%;
    padding: 0 5%;
}

.grey {
    color: #777;
}

.mobile {
    display: none;
}

@media screen and (max-width: 700px){
    .fixed img {
        width: 90%;
        position: relative;
        padding: 10px 5% 0;
        margin: 0;
        top: 0;
        left: 0; 
    }
    
    h1 {
        color: #000;
        letter-spacing: normal;
        width: 95%;
        margin-top: 0;
        padding: 0;
        margin: 0;
        line-height: 10vw;
    }
    
    h2{
        width: 90%;
        display: block;
        padding: 0;
        font-size: 10vw;
        float: right;
        line-height: 8vw;
    }
    
    .cell {
        display: block;
    }
    
    .desktop {
        display: none;
    }
    
    .mobile {
        display: inherit;
    }
    
    .right {
        padding: 0 5%;
        width: 90%;
        margin: 0;
    }
    
    .farright {
        width: 0;
    }
    
}

