/* Template.css
This is a template for special projects at the post. Things are written modularly.
This means that The Post can deploy special projects that look nice and are responsive rapidly,
and with only moderate HTML, CSS and Github training */

/*----- Global Styles -----*/

body {
    font-family: montserrat, sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    opacity: .6;
}

.bold{
    font-weight: 700;
}/* for montserrat bolding things */

p {
    font-family: montserrat, serif;
}

/*-----Column stuff-----*/

.column30center {
    width: 50%;
    padding: 0 30%;
}

.column20center {
    width: 60%;
    padding: 0 20%;
}

.column10center {
    width: 80%;
    padding: 0 10%;
}

.column10left {
    width: 40%;
    padding-left: 10%;
}

.column10right {
    width: 40%;
    padding-right: 10%;
}

/*----- Nav Bar -----*/

#nav_bar {
    position: ;
    z-index: 500;
    width: 100%;
    background: #292929;
    color: #FFF;
     
}

#nav_bar img {
    height: 30px;
    padding: 10px;
    display: inline-block;
}

#nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 14px;
    float: right;
}

#nav_bar ul {
    margin: 0;
    padding: 0;
    float: right;
}

#hamburger {
    color: #FFF;
    fill: #FFF;
    visibility: hidden;
}

/*----- Hero Image -----*/

#heroimg {
    width: 100%;
    position: relative;
}

#heroimg img {
    width: 100%;
}

#arthed {
    color: #FFF;
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 0;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

/*----- Body Copy Things -----*/

#headline {
    margin: 20px 0 0 0;
}

#byline {
    margin: 0;
    font-weight: 400;
    padding-bottom: 10px;
}

.subhed {
    font-family: montserrat, sans-serif;
    font-weight: 700;
}

.dropcap {
    font-weight: 700;
    float: left;
    font-size: 4.6em;
    line-height: .9em;
}

.instory_link {
    color: #67b6e5;
}

.title {
    color: #606060;
}

/*----- Img Things -----*/

.oneimg_center {
    width: 60%;
    padding: 0 20%;
}

.oneimg_right {
    width: 30%;
    padding-right: 10%;
    padding-left: 10px;
    float: right;
}

.oneimg_left {
    width: 30%;
    padding-left: 10%;
    padding-right: 10px;
    float: left;
}

.twoimg_left {
    width: 40%;
    margin: 0;
    float: left;
    padding: 2% 0 0 10%;
  
}


.twoimg_right {
    width: 40%;
    margin: 0%;
    padding: 2% 10% 2% 0;
    float: right;
    
}

.threeimg_full {
    width: 33%;
}

.oneimg_full {
    width: 100%
}


.pcutprovided {
    float:left;
    text-align: left;
    margin: 0;
    font-weight: 100;
    color: #808080;
    font-size: 15px;
    padding: 0;
}

.pcutprovidedright {
    float:right;
    text-align: right;
    margin: 0;
    font-weight: 100;
    color: #808080;
    font-size: 15px;
    padding;
}


.provided {
  
    float:left;
    text-align: left;
    margin: 0;
    font-weight: 100;
    color: #808080;
    font-size: 15px;
    padding-bottom: -6%;
}

#need_space {
    width:100%;
}


/*----- Pullqute stuff -----*/

.pq_center {
    width: 100%;
    padding: 0 10%;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: ;
    font-weight: 700;
}

.pq_left_real {
    width: 30%;
    padding-left: 10%;
    padding-right: 10px;
    float: left;
    font-size: 25px;
    text-transform: uppercase;
    color: ;
    font-weight: 700;
}

.pq_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 15px;
    float: right;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #c85328;
}

.pq_left {
    width: 60%;
    padding-right:0 20%;
    padding-left: 10%;
    float: left;
    margin-right: 100px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    
    color:;
}

.attribution {
    font-size: 20px;
    text-transform: none;
    display: block;
    text-align: right;
    font-weight: 400;
}


/*----- Embedding Things -----*/


.embed_center {
    width: 60%;
    padding: 0 20%;
}

.embed_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 10px;
    float: right;
}

.embed_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 10px;
    float: left;
}

.embed_full {
    width: 100%
}

/*----- Banner Ads -----*/

.bannerad {
    width: 60%;
    padding: 10px 20%;
}



@media screen and (max-width: 750px){
    
    .oneimg_right, .oneimg_left {
        width: 80%;
        padding: 0 10% 10px 10%;
    }
    
    .pq_center {
        padding: 0 10%;
        width: 80%
    }
    
    .column20center, p {
        width: 80%;
        padding: 0 10%;
    }
    
    #arthed {
        font-size: 40px;
    }
    
}
Contact GitHub API Training Shop Blog About




