/* Template.css
This is a template for special projects at The Post.
Template originally coded by Taylor Johnston, digital managing editor at The Post.
Please contact at taylorfjohnston@gmail.com with questions.*/

/* GENERAL STYLES */
body {
    font-family: 'Playfair Display', serif;
    background-color: #262222;
    color: #292929;
}

a {
    color: #F2C063;
    text-decoration: none;
}

a:hover {
    opacity: .5;
}


p {
    width: 60%;
    padding: 0 20%;
}

.header {
    font-size: 50px;
    font-family: 'Satisfy', Arial, sans-serif;
    color: #D9C24E;
    padding-left: 5%;
}

h2 {
    padding: 0 15%;
}

h1{
    align-content: left;
    justify-content: flex-end;
    font-family: 'Playfair Display', Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
}

h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
/* COLUMNS */
.column20center {
    width: 60%;
    padding: 0 20%;
}

/* .column10center {
    width: 80%;
    padding: 0 10%;
}

.column10left {
    width: 40%;
    padding-left: 10%;
}

.column10right {
    width: 40%;
    padding-right: 10%;
} */

/* NAVIGATION BAR */
#nav_bar {
    background: #292929;
    color: #FFF;
    height: 52px;
}

#nav_bar img {
    height: 30px;
    padding: 10px;
    float: left;
}

#nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    float: right;
}

#nav_bar ul {
    margin: 0;
}

#nav_bar li #facebook {
    color: #fff;
}

#nav_bar li #facebook:hover {
    color: #337ab7;
    opacity: 1;
}

#nav_bar li #twitter {
    color: #fff;
}

#nav_bar li #twitter:hover {
    color: #55ACEE;
    opacity: 1;
}

#nav_bar li #instagram {
    color: #fff;
}

#nav_bar li #instagram:hover {
    color: #efc04a;
    opacity: 1;
}

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}

/* HERO IMAGE */
#heroimg {
    width: 100%;
    position: relative;
}

#heroimg img {
    width: 100%;
}

/* HEADLINE STYLES */
h1, h2, h3, h4 {
    margin-bottom: 1.2px;
}

.date {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -40px;
    margin-top: 75px;
    color: #ffffff;
}

/* Pick one font depending on design (or find another one) */
.arthed {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-family: 'Playfair Display', Arial, sans-serif;
    /* font-family: "Playfair Display", Georgia, serif; */
}
.cutline {
    float: left;
    text-align: left;
    margin: 0;
    color: #000;
    font-size: 12px;
    width: 90%;
    padding: 0;
    padding-left: 10px;
}

.headline {
    text-align: center;
    font-family: 'Montserrat', Arial, sans-serif;
    /* font-family: "Playfair Display", Georgia, serif; */
    font-size: 25px;
    margin-top: 1.5px;
}

/* BYLINE */
.byline-info {
    text-align: center;
    display: block;
}

.byline-info p {
    color: #3d3d3d;
    display: inline-block;
    font-family: 'Montserrat', Arial, sans-serif;
    /* font-family: "Playfair Display", Georgia, serif; */
    font-size: 14px;
    text-align: center;
}

.byline-info p:last-of-type {
    margin-right: 0;
}

/* SHARE BUTTONS */
.share-container {
    text-align: center;
    margin-top: -10px;
}

ul.share-buttons {
    list-style: none;
    padding: 0;
}

ul.share-buttons li {
    display: inline;
}

ul.share-buttons .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

ul.share-buttons img {
    width: 32px;
}

/* CONTENT */
p.intro {
    font-size: 22px;
}

.dropcap {
    font-weight: 700;
    float: left;
    font-size: 2.9em;
    line-height: .9em;
    padding-right: 5px;
}

/*GRID*/

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    margin: 0 auto; 
    margin-right: 60px;
    margin-left: 60px; 
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    text-shadow: 2px 2px #3a3a3a;
    font-family: 'Satisfy', script;
}

.one {
    
     border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/1cdf3dbd-ced0-4ea3-ae47-414dc0b6e358.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.two {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/04eaa8dd-6706-49a2-99a4-51a48528c2a0.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.three {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/38e29c44-7424-455e-8ab0-bf93336bf5e1.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;

}


.four {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/24e5455a-70b1-4f63-a315-d357b4576ba5.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
   
}


.five {
    
     border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/a5286ac3-0872-4c9b-b40d-6fc7e2c47408.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;

}


.six {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/205f3f93-8cba-45b7-a40f-9c9533826bce.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 220%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.seven {
    
    border-radius: 10px;
    background-image: url(img/Place-Image-here3%20copy.jpg);
    background-repeat: no-repeat;
    background-size: 220%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.eight {
    
    border-radius: 10px;
    background-image: url(img/Place-Image-here3%20copy.jpg);
    background-repeat: no-repeat;
    background-size: 220%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.nine {
    
    border-radius: 10px;
    background-image: url(img/Place-Image-here3%20copy.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.ten {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/8eb54f68-8e3f-4c7a-be45-fcee18118d6f.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.eleven {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/4aa5b9ad-7e95-44ce-935d-a267a6662915.sized-1000x1000.PNG);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.twelve {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/459bc0a3-8656-4808-8f32-aec377f0dc0e.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.thirteen {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/ddd112ee-b463-41eb-9806-17dc3a1a0e79.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.fourteen {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/006ebbdb-a849-4553-8095-93465583e29d.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.fifteen {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/f5a57152-a67d-4f76-9986-882046014f45.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.sixteen {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/c8e77b7e-a2c2-4137-8932-2e1dda971069.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.seventeen {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/20fa9352-43ec-4489-b6c6-12e548beb196.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.eighteen {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/19babf7e-78f3-4a55-b849-cad2b755596d.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.nineteen {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/94aa3c3b-59b1-4530-831f-9c3662e60df4.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.twenty {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/153e5b45-c2aa-4282-b1c5-e2bf20cb379d.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.twentyone {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/153e5b45-c2aa-4282-b1c5-e2bf20cb379d.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.twentytwo {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/d4ca2413-df27-4903-99b6-7874367da70e.sized-1000x1000.png);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.twentythree {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/153e5b45-c2aa-4282-b1c5-e2bf20cb379d.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.twentyfour {
    
    border-radius: 10px;
    background-image: url(img/Place-Image-here3%20copy.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.twentyfive {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/9b780191-b40d-40fb-ae03-04217711920f.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.twentysix {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/93230ee6-68a9-473a-8635-4d87211e8787.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.twentyseven  {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/634904f0-2819-45a1-b4a9-16251740ae0a.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.twentyeight {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/d5614bc5-46b4-41f2-8a45-06ed720a1150.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.twentynine {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/2c487465-5398-49af-95c5-50f93a5cc1ef.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}
/* CREDITS */
.credits {
  margin: 1rem auto 0;
  max-width: 60%;
  padding-bottom: 2.4rem;
  text-align: left
}
.creditText {
  display: inline-block;
  font-family: 'Playfair Display', Arial, serif;
  font-size: 14px;
  margin: 0 1rem 0rem 0;
    color: #ffffff;
}

.creditText a {
  color: #E71710;
  font-weight: 700;
  cursor: pointer;
}

/* OTHER STUFF */
/* IMAGE BLOCKS */
.oneimg_center {
    width: 60%;
    padding: 0 20%;
}

/*Apply to a wrapping div*/
.oneimg_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 10px;
    float: right;
}

/*Apply to a wrapping div*/
.oneimg_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 20px;
    float: left;
}

/*add to p tag, should be before the pcut p tag*/
.oneimg_full p {
    width: 60%;
    padding: 0 20%;
}


.oneimg_full img, .oneimg_center img, .oneimg_right img, .oneimg_left img {
    width: 100%
}

.photog{
    float: right;
    text-align: right;
    margin:0;
    font-weight: 800;
    color: #000;
    font-size: 12px;
    width: 100%;
    padding: 0;
}

.pcut {
    float: right;
    text-align: left;
    margin: 0;
    font-weight: 100;
    color: #808080;
    font-size: 12px;
    width: 100%;
    padding: 0;
}

.subhed {
    font-family: montserrat, sans-serif;
    font-weight: 800;
    color: #7fc448;
}

/*apply to wrapping span tag*/
.title {
    color: #606060;
}

/* PULL QUOTES */
blockquote {
    padding: 0;
    margin: 5px;
}

/*add to wrapping div*/
.pq_center {
    width: 60%;
    padding: 0 20%;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #5379c4;
    font-weight: 800;
}

/*add to wrapping div*/
.pq_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 15px;
    float: right;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #5379c4;
}

/*add to wrapping div*/
.pq_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 0;
    float: left;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5379c4;
}

/*add to wrapping div*/
.attribution {
    font-size: 20px;
    text-transform: none;
    display: block;
    text-align: right;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
    padding: 0 5%;
    width: 90%;
}

/*----- Gallery Stuff -----*/
.gallery_bot {
    padding: 0;
    width: 20%;
    float: left;
}
.galleryPcut {
    float: right;
    text-align: left;
    margin: 0;
    font-weight: 100;
    color: #808080;
    font-size: 12px;
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
}

.w3-hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
}

.mySlides {
    display: none;
}


/* SPECIAL PROJECT FOOTER */
.footer {
    color: #FFF;
    font-family: 'Playfair Display';
    width: 100%;
    height: 200px;
    text-shadow: 2px 2px 5px #000;
    background-color: #292929;
    display: table;
}

.footer_inside {
    vertical-align: middle;
    display: table-cell;
}

.footer h2 {
    font-size: 40px;
    width: 70%;
    padding: 0 15%;
    margin: 0;
    line-height: 35px;
}

.footer p {
    font-family: 'Montserrat';
    margin: 0;
    width: 70%;
    padding: 10px 15% 0 15%;
}

.copyright {
  color: #FFF;
  font-family: 'Montserrat';
  width: 100%;
  height: 20px;
  text-shadow: 2px 2px 5px #000;
  background-color: #171717;
  display: table;
}

.copyright_inside {
  vertical-align: middle;
  display: table-cell;
}

.copyright p {
    font-family: 'Montserrat';
    margin: 0;
    width: 70%;
    padding: 13px 15% 15px 15%;
}

.btn-container {
  margin-left:20px;
}



.projects {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.projects:hover {
  background-color: white;
}

.join {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.join:hover {
  background-color: white;
}

/* MEDIA QUERIES */
@media screen and (max-width: 750px) {
  .column20center, p {
      width: 80%;
      padding: 0 10%;
  }

  #logo {
      height: 25px;
  }

  .date {
      padding: 0 10%;
      width: 80%;
  }

  .arthed {
      font-size: 60px;
      line-height: 60px;
      align-content: center;
    justify-content: center;
  }
    .header {
        text-align: center;
        align-content: center;
        justify-content: center;
        padding-left: 11%;
    }
    
  .headline {
      width: 80%;
      padding: 0% 10% 0 10%;
      font-size: 25px;
  }

    .oneimg_right, .oneimg_left, .oneimg_center {
        width: 80%;
        padding: 0 10% 10px 10%;
    }

    .oneimg_full p {
        width: 80%;
        padding: 0 10%;
    }

    .pq_center, .pq_right, .pq_left {
        padding: 0 5%;
        width: 90%;
    }

    .subhed {
        padding: 0 10%;
    }

    .credits {
      max-width: 100%;
      text-align: left;
      margin-left: 50px;
    }

    .footer {
        height: 300px;
    }
}
    
    @media screen and (max-width: 1260px){
    .grid {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 0px;
    margin: 0 auto; 
    color:white;
    margin-right:60px;
    margin-left:60px;   
}
}

@media screen and (max-width: 1030px){
    .grid {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 0px;
    margin: 0 auto; 
    color:white;
    margin-right:60px;
    margin-left:60px; 
    
}
}

@media screen and (max-width: 850px){
    .grid {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 0px;
    margin: 0 auto; 
    color:white;
    margin-right:60px;
    margin-left:60px;   
}
}

@media screen and (max-width: 612px){
    .grid {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 0px;
    margin: 0 auto; 
    color:white;
    margin-right:30px;
    margin-left:30px;   
}
}

@media screen and (max-width: 500px){
    .grid {
    display: grid;
    grid-template-columns: auto  ;
    grid-gap: 0px;
    margin: 0 auto; 
    color:white;
    margin-right:30px;
    margin-left:30px;   
}

@media screen and (max-width: 750px) {
  .column20center, p {
      width: 80%;
      padding: 0 10%;
  }
}
