/* Template.css
This is a template for special projects at The Post.
Template originally coded by Seth Archer, digital managing editor at The Post.
Please contact at SethPArcher@gmail.com with questions.*/

/*GRID*/

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    margin: 0 auto; 
    margin-right: 60px;
    margin-left: 60px; 
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    
    text-shadow: 2px 2px #3a3a3a;
    font-family: 'Work Sans', sans-serif;
}

/*Hover*/

.one:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.60);
}

.two:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.60);
}

.three:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.60);
}
.four:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.60);
}

.five:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.60);
}

.six:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.60);
}

.seven:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.60);
}

.eight:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.60);
}

.nine:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.60);
}

.ten:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.60);
}

.eleven:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.60);
}

.twelve:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.60);
}

.thirteen:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.60);
}

.fourteen:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.60);
}

.fifteen:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.60);
}
/*Landing Page Elements*/
.one {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/ad3ac9fb-e21d-43fa-b2fa-228578862d93.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.two {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/9c83ad28-57a1-4eb5-a4bf-a20b6fd53666.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.three {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/7b0cc0d4-f5c1-4a8f-9706-1e90e5db2af5.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 220%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;

}


.four {
    
   border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/a3c36a2c-a21a-4187-aeb4-581521343020.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
   
}


.five {
    
   border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/4a932ffe-7b9c-4c44-8c34-ffe58445d182.sized-1000x1000.JPG);
    background-repeat: no-repeat;
    background-size: 220%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;

}


.six {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/61a9ee38-f909-4bd3-9127-af586a307681.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 220%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.seven {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/40d0dff5-ad64-4784-a284-5e00b5529e32.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 220%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.eight {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/8f2209d7-50ba-415c-9bda-6abdcc9bce44.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 220%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.nine {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/8082e9ed-28c5-440d-bd02-c4cc7c3213fd.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.ten {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/047591bb-edaa-493a-840b-b06733a7bd66.sized-1000x1000.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.eleven {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/8c936b33-dded-4d79-b3c9-09c1c3669199.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.twelve {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/d2a2fe25-468e-4cdd-b56c-e239daba6710.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.thirteen {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/0471bac5-b38b-401e-8ad0-6d4f0675a91a.sized-1000x1000.JPG);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.fourteen {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/71eb01c2-cf75-4c07-99dd-6be03b4a9afa.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}

.fifteen {
    
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/4c58347c-b7af-4784-ba1e-ec019f5d60e2.sized-1000x1000.JPG);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: top;
    transition: 0.3s;
    width: 190px;
    height: 190px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;
}
/*Button*/

button, .back-button {
    border-color: #2e97dd;
    border-width: medium;
    color:#2e97dd;
    background-color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    font-family: "Montserrat";
    
    margin: 0 auto;
    text-align: center;
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-weight:900;
}
button:hover{
    background-color: #2e97dd;
    color: white;
}


/*----- Global Styles -----*/


body {
    font-family: 'montserrat', sans-serif;
    background-color: #FFF;
    color: #030406;
}

a {
    color: #e94b36;
    text-decoration: none;
}

a:hover {
    opacity: .6;
}

p {
    width: 60%;
    padding: 0 20%;
}/*these have a style simmilar to column20center, do not add column20center to p tags*/

h2 {
    padding: 0 15%;
}

h3 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.date{
    font-weight: 800;
    color: #e5e5e5;
    width: 60%;
    padding: 0% 20% 0 20%;
    margin: 0;
}/*apply to p tag*/

/*-----Column stuff-----*/

.column20center {
    width: 60%;
    padding: 0 20%;
}/*do not apply to p tags, they automatically have a simmilar styling*/

.column10center {
    width: 80%;
    padding: 0 10%;
}

.column10left {
    width: 40%;
    padding-left: 10%;
}

.column10right {
    width: 40%;
    padding-right: 10%;
}

/*----- Nav Bar -----*/
/*we don't use this section as often. delete if not used in the project*/

#nav_bar {
    background: #030406;
    color: #FFF;
    height: 50px;
}

#nav_bar img {
    height: 30px;
    padding: 10px;
    float: left;
}

#nav_bar li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    float: right;
}

#nav_bar ul {
    margin: 0;
}

/*----- Hero Image | Original design by Jon Daiello https://codepen.io/jondaiello/pen/mOJKgQ?editors=1100 -----*/

#heroimg {
    width: 100%;
    position: relative; background:#e5e5e5;
    color: white;
}/*apply to wrapping div with an img tag within*/

#heroimg img {
    width: 100%;
}

#year {
    color: #f4f7f9;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    font-weight: 900;
    padding-top: 2px;
    font-size: 4vw;
    position: relative;
}
#arthed {
    
    background: linear-gradient(to bottom, #3498db 0%, #3498db 33%, #fff 33%, #fff 66%, #e74c3c 66%, #e74c3c 100%);
    background-repeat: repeat;
    background-size: 100% 100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: rotateRWB 100s linear 1s 1000;
    animation-name: rotateRWB;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1000;
    animation-direction:normal;
    animation-fill-mode: none;
    animation-play-state:running;
    
    margin: 0px;
    text-align: center;
    width: 100%;
    height:100%;
    padding-top: 12vw;
    padding-bottom: vw;
    margin: 0px;
    font-size: 8vw;
    line-height: 90%;
    text-align: center;
    width: 100%;
    font-family: 'Shrikhand', cursive;
    height:100%;
}

@keyframes rotateRWB {
  0% {
    background-position: 0em 0em;
  }
  100% {
    background-position: 100em 100em;
  }

}/*apply to h1 within the heroimg div*/

/*----- Body Copy Things -----*/

.headline {
    color: #41a4e6;
    padding: 0 10% 0 10%;
    width: 80%;
    margin: 0;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
}/*apply to h1, not the art hed*/

#twitter-button {
    display: inline-block;
    padding: 10px; /* Adjust padding as needed */
    font-size: 24px; /* Font size */
    font-weight: bold; /* Make text bold */
    color: white; /* Text color */
    background-color: rgb(231, 47, 47);
    background-repeat: no-repeat;
    background-size: cover; /* Change to cover to maintain the aspect ratio */
    background-position: center; /* Center the background image */
    border: none; /* Remove border */
    border-radius: 10px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s; /* Smooth transition */
    width: 300px; /* Set width to match ee-button */
    height: 300px; /* Set height to match ee-button */
    margin: 0 auto; /* Center the button horizontally */
    margin-top: 15px; /* Space above the button */
    margin-bottom: 15px; /* Space below the button */
    text-align: center; /* Center text within the button */
    line-height: 300px;
    
}


#ee-button{
    border-radius: 10px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/ohi/ad3ac9fb-e21d-43fa-b2fa-228578862d93.sized-1000x1000.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 300px;
    height: 300px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:15px;

}

#twitter-button:hover {
    background-color: #0d95e8; /* Darker blue on hover */
}
.credit {
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 50px;
}/*apply to h4 with developer's name and title*/

.subhed {
    font-family: 'montserrat'
    , sans-serif;
    font-weight: 800;
    color: #e94b36;
}/*apply to h2 tags*/

.dropcap {
    font-weight: 700;
    float: left;
    font-size: 2.9em;
    line-height: .9em;
    padding-right: 5px;
}/*apply to wrapping span tag*/

.title {
    color: #606060;
}/*should be in same p tag as the author name*/

#byline {
    margin: 0;
    font-weight: 400;
}/*applies to entire byline, with title. bold the author name. put on h4 tag*/

/*----- Img Things -----*/

.oneimg_center {
    width: 60%;
    padding: 0 20%;
}/*Apply to a wrapping div*/

.oneimg_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 10px;
    float: right;
}/*Apply to a wrapping div*/

.oneimg_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 20px;
    float: left;
}/*Apply to a wrapping div*/

.twoimg_center {
    width: 60%;
    margin: 0 20%;
}

.twoimg_center img {
    width: 50%;
    padding: 0;
    margin: 0;
    float: left;
}

.threeimg_full {
    width: 33%;
}

.oneimg_full img, .oneimg_center img, .oneimg_right img, .oneimg_left img {
    width: 100%
}

/*----- Pullquote stuff -----*/

blockquote {
    padding: 0;
    margin: 5px;
}/*should be the text of the pull quote*/

.pq_center {
    width: 60%;
    padding: 0 20%;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #2e97dd;
    font-weight: 800;
    font-family: 'Shrikhand', cursive;
}/*add to wrapping div*/

.pq_right {
    width: 40%;
    padding-right: 10%;
    padding-left: 15px;
    float: right;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    color: #2e97dd;
    font-family: 'Shrikhand', cursive;
}/*add to wrapping div*/

.pq_left {
    width: 40%;
    padding-left: 10%;
    padding-right: 0;
    float: left;
    margin: 0;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2e97dd;
    font-family: 'Shrikhand', cursive;
}/*add to wrapping div*/

.attribution {
    font-size: 20px;
    text-transform: none;
    display: block;
    text-align: right;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
    padding: 0 5%;
    width: 90%;
}/*add to p tag within the wrapping div*/

/*----- Image stuff -----
also use these tags to move iframes, graphics etc.. anything that would behave like a photo*/

.pcut{
    float: right;
    text-align: left;
    margin:0;
    font-weight: 100;
    color: #808080;
    font-size: 12px;
    width: 100%;
    padding: 0;
}/*add p tag, should be after the photog p tag*/

.galleryPcut{
float: right;
    text-align: left;
    margin:0;
    font-weight: 100;
    color: #808080;
    font-size: 12px;
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
}

.photog{
    float: right;
    text-align: right;
    margin:0;
    font-weight: 800;
    color: #000;
    font-size: 12px;
    width: 100%;
    padding: 0;
}/*add to p tag, should be before the pcut p tag*/

.oneimg_full p{
    width:60%;
    padding:0 20%;
}


/*----- Gallery Stuff -----*/

.gallery_bot {
    padding: 0;
    width: 20%;
    float: left;
}

.w3-hover-shadow:hover {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important
}

.mySlides {
    display:none;
}

/*----- Other -----*/

#logo {
    z-index: 1;
    position: absolute;
    float: left;
    height: 30px;
    padding: 7px;
}/*effects the post logo in the top left of the page*/

.parallax {
    height: 800px;
    width: 100%;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}/* add to the wrapping div, give the div an inline style with the photo you want to be parallax*/

/* Landing page clicky box at bottom.*/

.story {
    color: #FFF;
    font-family: playfair display;
    width: 100%;
    height: 200px;
    text-shadow: 2px 2px 5px #000;
    background-color: #292929;
    display: table;
}

.story_inside{
    vertical-align: middle;
    display: table-cell;
}

.story h2{
    font-size: 40px;
    width: 70%;
    padding: 0 15%;
    margin: 0;
    line-height: 35px;
}

.story p{
    font-family: montserrat;
    margin: 0;
    width: 70%;
    padding: 10px 15% 0 15%;
}

@media screen and (max-width: 1260px){
    .grid {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-gap: 0px;
    margin: 0 auto; 
    color:white;
    margin-right:60px;
    margin-left:60px;   
}
}

@media screen and (max-width: 1030px){
    .grid {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 0px;
    margin: 0 auto; 
    color:white;
    margin-right:60px;
    margin-left:60px; 
    
}
}

@media screen and (max-width: 850px){
    .grid {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 0px;
    margin: 0 auto; 
    color:white;
    margin-right:60px;
    margin-left:60px;   
}
}

@media screen and (max-width: 612px){
    .grid {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 0px;
    margin: 0 auto; 
    color:white;
    margin-right:30px;
    margin-left:30px;   
}
}

@media screen and (max-width: 500px){
    .grid {
    display: grid;
    grid-template-columns: auto  ;
    grid-gap: 0px;
    margin: 0 auto; 
    color:white;
    margin-right:30px;
    margin-left:30px;   
}
}


@media screen and (max-width: 750px){
    
    .oneimg_right, .oneimg_left, .oneimg_center {
        width: 80%;
        padding: 0 10% 10px 10%;
    }
    
    .oneimg_full p {
        width: 80%;
        padding: 0 10%;
    }
    
    .pq_center, .pq_right, .pq_left {
        padding: 0 5%;
        width: 90%;
    }
    
    .column20center, p {
        width: 80%;
        padding: 0 10%;
    }
    
    
    .subhed{
        padding: 0 10%;
    }
    
    .credit{
        padding-bottom: 20px;
    }
    
    #logo {
        height: 25px;
    }

    .headline {
        width: 80%;
        padding: 0% 10% 0 10%;
        font-size: 25px;
    }
    
    .date {
        padding: 0 10%;
        width: 80%;
    }
    
    #banner {
        font-size: 50px;
    }
    
    .story {
        height: 300px;
    }
}
