/* Template.css
This is a template for The Post's recruitment page.
Template originally coded by Taylor Johnston, digital managing editor at The Post.
Please contact at taylorfjohnston@gmail.com with questions.*/
/* GENERAL STYLES */
body {
  font-family: montserrat, sans-serif;
  background-color: #292929;
}

a {
  color: #7fc448;
  text-decoration: none;
}

a:hover {
  opacity: .5;
}

h1 {
  color: #292929;
}

h3 {
  color: #292929;
}

p {
  color: #fff;
}

/* COLUMNS */
.column20center {
  width: 60%;
  padding: 0 20%;
}

/* NAVIGATION BAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #7fc448;
  font-family: 'Montserrat';
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #4CAF50;
}

#logo {
  z-index: 1;
  position: absolute;
  float: left;
  height: 30px;
  padding: 7px;
}

/* HEADER */
header .hero {
  width: 100%;
  height: 20vh;
  min-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

header .hero h1 {
  margin: 0;
  color: #fff;
}

#post-logo {
  color: #FFF;
}

#post-logo img {
  height: 70px;
  padding: 20px;
  float: left;
}

#post-logo li {
  list-style: none;
  display: inline-block;
  padding: 15px;
  float: right;
}

#post-logo ul {
  margin: 0;
}

#wrapperHeader {
  width: 100%;
  text-align: center;
}

#wrapperHeader #header {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
}

#wrapperHeader #header img {
  width: 500px;
  margin: 0 auto;
}

nav.main_nav {
  min-height: 63px;
}

nav.main_nav .main_nav_wrap {
  width: 100%;
  display: block;
  background-color: #414141;
}

nav.main_nav .main_nav_wrap ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

nav.main_nav .main_nav_wrap ul li a {
  font-size: 1.2rem;
  padding: 20px;
  display: block;
  color: #fff;
  transition: all 0.3s;
  background-color: transparent;
}

nav.main_nav .main_nav_wrap ul li a:hover {
  text-decoration: none;
  background-color: #5b5b5b;
}

/* CONTENT */
.text-container {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
}

.text-container h2 {
  color: #292929;
  font-size: 40px;
  padding: -5px;
}

.text-container p {
  color: #292929;
  font-size: 18px;
}

p .editors{
  width: 100%;
  margin: 0 auto;
  font-size:16px;
}

.editors a {
  display: inline-block;
  padding: 0;
}

.contact {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 20px;
}

.btn {
  color: #fff;
  background-color: #292929;
  padding: 0.8rem;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 700;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid #000;
}

.btn:hover {
  background-color: #fff;
  color: #292929;
}

/* EMBED STUFF */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 2%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* FOOTER */
.copyright {
  color: #FFF;
  font-family: 'Montserrat';
  width: 100%;
  height: 20px;
  text-shadow: 2px 2px 5px #000;
  display: table;
  background-color: #171717;
}

.copyright_inside {
  display: table-cell;
}

.copyright p {
  font-family: 'Montserrat';
  margin: 0;
  text-align: center;
  width: 100%;
  padding: 13px 15% 15px 15%;
}

.btn-container {
  margin-left: 20px;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
      /* width: 33.3333%; */
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  outline: 1px solid #292929;

}

.card_content {
  padding: 1rem;
  color: #000;
}

.card_title {
  color: #000;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0px;

}

.card_text {
  font-size: 6px;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.card_btn {
  margin: 0 auto;
  width: 30%;
  height: 20%;
}

.card_btn a {
  background: none;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

}

.cards_item {
  display: flex;
  padding: 1rem;
}

/* OTHER STUFF */
/* IMAGE BLOCKS */
.oneimg_center {
  width: 60%;
  padding: 0 20%;
}

/*Apply to a wrapping div*/
.oneimg_right {
  width: 40%;
  padding-right: 10%;
  padding-left: 10px;
  float: right;
}

/*Apply to a wrapping div*/
.oneimg_left {
  width: 40%;
  padding-left: 10%;
  padding-right: 20px;
  float: left;
}

/*add to p tag, should be before the pcut p tag*/
.oneimg_full p {
  width: 60%;
  padding: 0 20%;
}

.oneimg_full img, .oneimg_center img, .oneimg_right img, .oneimg_left img {
  width: 100%
}

.photog {
  float: right;
  text-align: right;
  margin: 0;
  font-weight: 800;
  color: #000;
  font-size: 12px;
  width: 100%;
  padding: 0;
}

.pcut {
  float: right;
  text-align: left;
  margin: 0;
  font-weight: 100;
  color: #808080;
  font-size: 12px;
  width: 100%;
  padding: 0;
}

.subhed {
  font-family: montserrat, sans-serif;
  font-weight: 800;
  color: #7fc448;
}

/*apply to wrapping span tag*/
.title {
  color: #606060;
}

/* PULL QUOTES */
blockquote {
  padding: 0;
  margin: 5px;
}

/*add to wrapping div*/
.pq_center {
  width: 60%;
  padding: 0 20%;
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
  color: #5379c4;
  font-weight: 800;
}

/*add to wrapping div*/
.pq_right {
  width: 40%;
  padding-right: 10%;
  padding-left: 15px;
  float: right;
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
  color: #5379c4;
}

/*add to wrapping div*/
.pq_left {
  width: 40%;
  padding-left: 10%;
  padding-right: 0;
  float: left;
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  color: #5379c4;
}

/*add to wrapping div*/
.attribution {
  font-size: 20px;
  text-transform: none;
  display: block;
  text-align: right;
  font-weight: 400;
  margin: 0;
  margin-bottom: 5px;
  padding: 0 5%;
  width: 90%;
}

.w3-hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
}

.mySlides {
  display: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 750px) {
  #wrapperHeader {
    width: 100%;
    text-align: center;
  }

  #wrapperHeader #header {
    width: 100%;
    height: 300px;
    margin: 0 auto;
  }

  #wrapperHeader #header img {
    width: 400px;
    margin: 0 auto;
  }

  #logo {
    height: 25px;
  }

  .footer {
    height: 300px;
  }
}
