html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 613px;
	min-height: 382px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 98px 21px;
}

#pu717-4
{
	width: 0.01px;
	margin-left: 1px;
	position: relative;
}

#u717-4
{
	z-index: 6;
	position: relative;
	width: 114px;
	margin-right: -10000px;
	margin-top: 23px;
}

#u717-4_img
{
	display: block;
	vertical-align: top;
}

#u716-4
{
	z-index: 2;
	width: 293px;
	min-height: 36px;
	text-align: center;
	font-size: 48px;
	font-family: bree-serif, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 159px;
}

#pu718
{
	width: 0.01px;
	margin-top: 16px;
	position: relative;
}

#u718
{
	z-index: 10;
	width: 205px;
	height: 307px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fromtheeditosdesk-u718-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u718:hover
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/fromtheeditosdesk-u718-r-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u718.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/fromtheeditosdesk-u718-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u730
{
	z-index: 11;
	width: 204px;
	height: 307px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 409px;
	background: transparent url("../images/bios-u730-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u730:hover
{
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/bios-u730-r-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u730.MuseLinkActive
{
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/bios-u730-fr.png") no-repeat left top;
	background-size: contain !important;
}

#u742
{
	z-index: 12;
	width: 204px;
	height: 307px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 205px;
	background: transparent url("../images/seniorcitizen-u742-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u742:hover
{
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/seniorcitizen-u742-r-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u742.MuseLinkActive
{
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/seniorcitizen-u742-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

